{{- if isset .Site.Taxonomies "categories" }} {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
<div id="post-categories" class="widget-post-categories widget">
    <h4 class="widget__title">{{ .Site.Params.widgets.categories_title }}</h4>
    <div class="widget__content">
        <label for="category-select">
            <div class="select-css-wrapper">
                <select name="categories" class="select-css" id="category-select" onchange="window.location = this.options[this.selectedIndex].value">
                    <option value="/blog/">all categories</option>
                    {{- range $name, $items := .Site.Taxonomies.categories }}
                        <option value="{{ "categories/" | relLangURL }}{{ $name | urlize | lower }}/">{{ $name | urlize | lower }}</option>
                    {{- end }}
                </select>
                <i class="fa fa-flip-vertical fa-caret-up pointer" aria-hidden="true"></i>
            </div>
        </label>
    </div>
</div>
{{- end }} {{- end }}
