<div id="site-search" class="widget-site-search widget">
    <h4 class="widget__title">{{ .Site.Params.widgets.search_title }}</h4>
    <div class="widget__content search-flex">
        <form id="search-form" name="searchForm" role="form" onsubmit="return false">
            <div class="search-wrapper">
                <div class="search-container">
                    <i class="fa fa-search"></i>
                    <input autocomplete="off" placeholder="" id="search" class="search-input" aria-label="Search site" type="text" name="q">
                </div>
                <div class="search-error hide-element"><span class="search-error-message"></span></div>
            </div>
        </form>
        <a id="clear-search-results-side" class="button clear-search-results hide-element">Clear Search Results</a>
    </div>
</div>
