.hide-element {
  display: none;
}

.copyable-text-area {
  position: absolute;
  height: 0;
  z-index: -1;
  opacity: .01;
}

.content a.hanchor {
  color: #c4c4c4;
  font-size: 0.75em;
  opacity: 0.4;
}

.content a.hanchor:hover,
.content a.hanchor:hover {
  color: #c4c4c4;
  opacity: 1;
}

.content a.hanchor-self {
  margin: 0 0 0 7px;
}

.content a.hanchor-top {
  font-size: 1em;
  margin: 0 0 0 6px;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: #666;
  color: #c4c4c4;
  margin: 0;
}

pre,
code {
  font-family: roboto mono, SFMono-Regular, Menlo, courier new, monospace;
}

nav {
  line-height: 1em;
}

main {
  margin: 0 2em 0 0;
}

main.list {
  border: none;
}

p {
  margin: 0 0 20px;
}

ol li p {
  margin: 0 0 10px;
}

.avatar {
  border: 1px solid #d8d8d8;
  margin: 0 0 10px;
}

.btn {
  transition: none;
}

.container,
.container--outer {
  margin: 0;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.wrapper {
  background: #323232;
  padding: 1em 25px 0 25px;
  border: none;
  width: 100%;
}

.primary {
  font-size: 1em;
  flex: 1 0 68%;
  margin: 1.5em 0 0;
}

.post__header {
  margin: 0 0 1.5em;
}

.content {
  font-size: 1em;
  margin: 0 0 2em;
}

.content p {
  font-size: 1em;
  line-height: 1.6;
}

.list .content {
  margin: 0 0 0.5em;
}

.sidebar {
  flex: 1 0 30%;
  margin: 1em 0 0;
}

#widgets div {
  background-color: var(--widget-bg-color);;
  border-radius: 4px;
  margin: 0 0 1em;
  padding: 7px 10px;
}

#widgets .widget__content {
  margin: 0;
}

.center {
  text-align: center;
  margin: 20px 0;
}

.content a.eyeballs {
  font-size: 1.2em;
  font-weight: 500;
  color: #a9fb68;
}

.content a.eyeballs:hover {
  font-size: 1.2em;
  font-weight: 500;
  color: #a9fb68;
  text-decoration: underline;
}

.content .summary-read-more,
.content .summary-read-more:hover,
.content .summary-read-more:focus {
  color: #6fc1ff;
  font-weight: 500;
}

#showcase {
  color: #c4c4c4;
  background-color: var(--widget-bg-color);
  font-weight: 400;
  margin: 0 auto;
  padding: 10px 15px;
  border-radius: 4px;
}

#showcase p {
  margin: 0 0 10px;
}

#showcase a {
  color: #19f6d6;
}

#showcase a:hover,
#showcase a:active,
#showcase a:active:hover,
#showcase a:focus {
  color: #19f6d6;
  text-decoration: underline;
}

#showcase h2 {
  color: #19f6d6;
  font-size: 1.25rem;
  margin: 0 0 7px;
}

#showcase strong {
  color: #e2e2e2;
  font-weight: 700;
}

.widget__list {
  list-style-type: none;
}

.widget h4 {
  margin: 0;
}

.main__header h1 {
  color: var(--h1-color);
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0 0 10px;
}

.tutorial .series-list .main__header h1 {
  margin: 0 0 1em;
}

.tutorial .series__title a {
  color: var(--tut-link-color1)
}

.blog-list .main__content {
  background-color: #323232;
  border-bottom: 2px dotted #7f7f7f;
  margin: 0 0 20px;
  padding: 0 0 25px;
}

.about-me .post__header {
  text-align: center;
  margin: 0 0 1.5em;
}

.about-me .post__title {
  font-size: 1.8em;
  font-weight: 400;
  margin: 0 0 0.25em;
}

.post__header p {
  margin: 2px 0;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre.project-structure {
  font-size: 0.75em;
  color: #7f7f7f;
  padding: 10px 15px;
}

pre .project-folder {
  color: #ae81ff;
  font-weight: 700;
}

pre .unmodified-file,
code.unmodified-file {
  color: #2196f3;
  font-weight: 500;
}

pre .work-file,
code.work-file {
  color: #a9fb68;
  font-weight: 500;
}

pre .project-empty-file {
  color: #e2e2e2;
  font-weight: 500;
}

pre .key-label {
  font-weight: 700;
  color: #7f7f7f;
}

pre .project-structure-key {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: auto;
  max-width: -webkit-max-content;
  max-width: max-content;
  border: none;
}

pre .project-structure-key-wrapper {
  width: 100%;
  padding: 0;
  line-height: 1;
}

pre .key-item {
  flex: 0 0 auto;
  margin: 0 5px;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  margin: 1em 0;
}

.content h2 {
  font-size: 1.35em;
}

h1,
h1.post__title {
  font-size: 1.5em;
  color: var(--h1-color);
  font-weight: 500;
}

.tutorial h1.post__title {
  margin: 0 0 7px;
  padding: 0 0 7px;
  border-bottom: 1px dotted #7f7f7f;
}

.series__title {
  font-size: 0.95em;
  font-style: italic;
  color: #7f7f7f;
  margin: 0 0 2em;
}

.article-badges {
  margin: 0 0 15px;
}

.article-badges .badge {
  margin: 0 5px;
}

.article-badges .badge:first-child {
  margin: 0 5px 0 0;
}

.article-badges .badge:last-child {
  margin: 0 0 0 5px;
}

.badge {
  color: #d8d8d8;
  background-color: var(--widget-bg-color);
  font-size: 0.8em;
  font-weight: 500;
  padding: 3px 5px;
  text-transform: uppercase;
  border-radius: 4px;
}

#showcase .badge {
  background-color: #08c4a8;
  font-weight: 700;
  padding: 3px 6px;
  font-size: 0.8em;
}

.new-badge,
.tutorial-series-badge {
  color: var(--widget-bg-color);
}

h3,
h4 {
  font-size: 1.15em;
}

.list__header a {
  font-size: 1.25rem;
}

.content h2 {
  color: var(--h2-color);
}

.content h3 {
  color: var(--h2-color);
}

.content h4 {
  color: var(--h2-color);
}

.content h2,
.content h3,
.content h4 {
  font-weight: 400;
  margin: 1.5em 0 0.5em;
}

.content h2 code,
.content h3 code,
.content h4 code {
  background-color: initial;
  font-size: 0.9em;
  padding: 0 2px;
}

.content h4 code {
  font-size: 0.8em;
}

.about-me h1 {
  font-size: 1.6em;
  font-weight: 500;
  margin: 1em 10px 0.5em;
}

.cmd-prompt {
  color: #7f7f7f;
}

.cmd-input,
.cmd-repl-input {
  color: #a9fb68;
}

.cmd-venv {
  color: #ae81ff;
}

.cmd-results,
.cmd-repl-results {
  color: #d8d8d8;
}

.cmd-comment,
.cmd-repl-prompt {
  color: #2196f3;
}

.cmd-repl-comment {
  color: #e5b965;
}

.cmd-warning {
  color: #ff2c6d;
}

.cmd-lineno {
  color: #b3b3b3;
  font-weight: 400;
}

.cmd-lineno-hl {
  color: #ffc107;
  font-weight: 700;
}

.highlite {
  border: 1px dotted #e5b965;
  padding: 0;
}

a {
  font-weight: 400;
  color: #6fc1ff;
  text-decoration: none;
}

a:hover,
a:focus,
a:active,
a:active:hover {
  font-weight: 400;
  color: #6fc1ff;
  text-decoration: underline;
}

.widget a,
.widget a:hover {
  font-weight: 400;
  color: #6fc1ff;
}

.widget a:hover {
  text-decoration: underline;
}

.content a {
  font-weight: 400;
  color: #6fc1ff;
  text-decoration: none;
}

.content a:hover {
  font-weight: 400;
  color: #6fc1ff;
  text-decoration: underline;
}

.content ul,
.content ol {
  margin: 0 0 20px 2em;
}

.content ul ul {
  margin: 0 0 1em 1.5em;
}

.content ol li ul,
.content ul li ul {
  margin-top: 5px;
  margin-bottom: 15px;
}

.content ul p,
.content ol p {
  margin: 5px 0 10px;
}

.content ul .alert p,
.content ol .alert p,
.content ul .note p,
.content ol .note p {
  margin: 0;
}

.content ul div.alert,
.content ol div.alert,
.content ul div.note,
.content ol div.note {
  margin: 10px 0;
}

.content li {
  margin: 0 0 0.5em;
}

.content td ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
}

.q-and-a li {
  color: #a9fb68;
}

.q-and-a li {
  font-size: 0.9em;
  font-weight: 400;
  padding: 5px 10px;
}

.widget li {
  padding: 0;
  margin: 5px 0 0;
  line-height: 1.3;
}

.widget-categories li a {
  text-transform: uppercase;
}

.bold-text {
  color: #e2e2e2;
  font-weight: 700;
}

.italics {
  font-style: italic;
}

.content p .italics {
  color: #e2e2e2;
}

.bold-italics {
  color: #e2e2e2;
  font-weight: 700;
  font-style: italic;
}

.emphasis {
  color: #e2e2e2;
  font-weight: 700;
  text-decoration: underline;
}

article p strong {
  color: #e2e2e2;
}

.alert strong {
  font-weight: 700;
}

.green,
.steps {
  color: #a9fb68;
}

.steps .emphasis {
  font-weight: 700;
  color: #a9fb68;
}

.steps .pink .emphasis {
  font-weight: 700;
  color: #f92672;
}

.goldenrod,
.alert,
.requirements {
  color: #ffc107;
}

.alert p strong,
.alert p .emphasis,
.alert p .bold-text,
.alert p .bold-italics,
span.italics.requirements {
  color: #ffc107;
}

.purple {
  color: #ae81ff;
}

.blue,
.note {
  color: #2196f3;
}

.note p strong,
.note p .emphasis,
.note p .bold-italics {
  font-weight: 700;
  color: #2196f3;
}

.orange {
  color: #fd971f;
}

.light-blue {
  color: #6fc1ff;
}

.white {
  color: #d8d8d8;
}

.gray {
  color: #7f7f7f;
}

.pink {
  color: #f92672;
}

p .fa,
.about-me div .fa {
  font-size: 12px;
  margin: 0 2px;
}

.about-me .fa-bullet-list .fa {
  font-size: 24px;
}

#sourcerer-header {
  display: inline-block;
  margin: 1px 0;
}

#sourcerer-header a {
  padding: 0 4px;
}

#sourcerer-header a.no-border {
  border: none;
}

#sourcerer-header .initial,
#sourcerer-header:hover .hover {
  display: inline-block;
  padding: 5px 0 3px;
}

#sourcerer-header .initial img,
#sourcerer-header:hover .hover img {
  height: 17px;
}

#sourcerer-header:hover .initial {
  display: none;
}

#sourcerer-header .hover {
  display: none;
}

div.alert,
div.note,
div.requirements {
  font-size: 0.9em;
  line-height: 1.5;
  margin: 10px 0 20px;
  border-radius: 4px;
  overflow-wrap: normal;
  overflow-x: auto;
}

span.requirements {
  font-size: 0.85em;
}

div.note-flex {
  border: 1px solid #2196f3;
  background-color: var(--widget-bg-color);
}

.alert p,
.note p {
  margin: 0;
}

.alert-flex,
.note-flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.alert-icon,
.note-icon {
  font-size: 2em;
  margin: auto 5px;
  text-align: center;
}

.alert-icon i,
.note-icon i {
  width: 35px;
}

.alert-message,
.note-message {
  display: flex;
  text-align: left;
  margin: 0 5px;
}

.alert-message p,
.note-message p,
.content ul .alert .alert-message p {
  font-size: 1em;
  margin: auto 0;
}

div.alert {
  border: 1px solid #ffc107;
  background-color: var(--widget-bg-color);
}

div.alert,
div.note {
  padding: 5px;
}

.code-details div.alert,
.code-details div.note {
  font-size: 1em;
}

div.command {
  background: var(--widget-bg-color);
  padding: 2px 5px;
  margin: 0 0 20px;
}

div.requirements {
  border: 1px solid #ffc107;
  background: var(--widget-bg-color);
  padding: 10px 10px 5px;
}

.code-details {
  background-color: #323232;
  margin: 0 0 20px;
}

.code-details ul {
  font-size: 0.95em;
  line-height: 1.5;
  margin: 5px 0 0 20px;
}

.code-details ul ul {
  font-size: 1em;
}

.code-details ul li {
  margin: 0 0 15px;
}

.code-details ul ul li {
  font-size: 1em;
  margin: 0 0 10px;
}

.code-details ul li strong {
  color: #e2e2e2;
  font-size: 1.05em;
  text-transform: uppercase;
}

.code-details ul ul li strong {
  color: #e2e2e2;
  font-size: 1em;
  text-transform: none;
}

.code-details code {
  font-size: 0.8em;
  border-radius: 4px;
  padding: 1px 2px;
}

.code-details pre code {
  font-size: 0.85em;
}

.command code {
  color: #a9fb68;
  background: var(--widget-bg-color);
  border: none;
}

.alert code,
.note code,
blockquote p code,
figcaption p code {
  color: #d8d8d8;
  border-radius: 4px;
  font-size: 0.8em;
}

blockquote p code {
  background: #323232;
}

.alert code,
.note code {
  background: #323232;
}

.steps code {
  color: #d8d8d8;
}

.steps ul,
.steps ol,
.note ul {
  font-size: 0.9em;
  margin: 0 0 0 1.5em;
  border: none;
}

.steps ul ol {
  margin: 5px 0 0 1.5em;
}

.note ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.steps .title,
.requirements .title {
  font-weight: 700;
  padding: 0;
  margin: 0 0 5px;
}

.requirements .title {
  font-size: 1.1em;
}

div.steps {
  border: none;
  margin: 0 0 1em;
  padding: 5px;
}

.note ul li:last-child {
  margin-bottom: 0;
}

li.guideline {
  font-size: 1.1em;
  font-weight: 700;
  font-style: normal;
}

li.guideline code {
  font-weight: 400;
  font-size: 0.7em;
}

pre {
  font-size: 0.9em;
  font-family: roboto mono, menlo;
  color: #d8d8d8;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--widget-bg-color);
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: auto;
  line-height: 1.4;
}

pre code,
li pre code {
  display: block;
  font-size: 0.85em;
  color: #b3b3b3;
  background-color: var(--widget-bg-color);
  padding: 0;
  white-space: pre;
}

code,
p code,
li code {
  font-size: 0.85em;
  background-color: inherit;
  border: none;
  padding: 2px 4px;
  border-radius: 4px;
  font-style: normal;
}

code,
p code,
li code {
  color: #a9fb68;
}

.post__content p code {
  background: inherit;
  padding: 0 2px;
  font-size: 0.85em;
}

.toc code {
  color: #d8d8d8;
  background-color: #323232;
}

pre.chroma {
  margin: 0;
  background-color: var(--widget-bg-color);
}

div.chroma {
  overflow: auto;
  border-radius: 4px;
}

div.chroma .lntable pre.chroma {
  border: none;
  border-radius: 0;
}

p code.chroma {
  background-color: var(--widget-bg-color);
  padding: 1px 2px;
  white-space: pre;
}

.highlight-wrapper {
  display: block;
  margin: 0 0 1em 0;
}

.highlight {
  position: relative;
  z-index: 0;
  padding: 0;
  margin: 0;
}

.highlight > .chroma {
  position: static;
  z-index: 1;
}

.tutorial .copy-code-button {
  background-color: var(--tut-link-color1);
  border: 1px solid var(--tut-link-color1);
}

.tutorial .copy-code-button:hover,
.tutorial .copy-code-button:focus,
.tutorial .copy-code-button:active,
.tutorial .copy-code-button:active:hover {
  background-color: var(--tut-link-color2);
  border: 1px solid var(--tut-link-color2);
}

.copy-code-button {
  position: absolute;
  z-index: 2;
  right: 0;
  font-size: 13px;
  font-weight: 700;
  color: var(--widget-bg-color);
  background-color: var(--blue1);
  border: 1px solid var(--blue1);
  border-radius: 4px;
  white-space: nowrap;
  padding: 2px 7px;
  margin: 5px 5px 0 0;
  line-height: 14px;
  cursor: pointer;
  opacity: 0.3;
}

.copy-code-button:hover,
.copy-code-button:focus,
.copy-code-button:active,
.copy-code-button:active:hover {
  background-color: var(--blue2);
  border: 1px solid var(--blue2);
  opacity: 0.8;
}

pre.chroma code {
  font-size: 0.85em;
  line-height: 1.45;
}

.chroma .lntable {
  display: table;
  width: 100%;
  padding: 0 0 5px;
}

.list-of-links {
  color: #6fc1ff;
}

.chroma .lntable tr td:first-child pre {
  padding: 7px 0 7px 10px;
  margin: 0;
}

.chroma .lntable tr td:last-child pre {
  padding: 7px 10px 7px 0;
  margin: 0;
}

.chroma .lnt {
  margin: 0;
  padding: 0 7px 0 3px;
  color: #7f7f7f;
}

.chroma .lntd:first-child .hl {
  background-color: var(--page-bg-color);
}

.chroma .hl {
  background: #323232;
}

.chroma .hl .lnt {
  color: #ffc107;
  font-weight: 700;
}

.chroma .nc,
.chroma .nf {
  text-decoration: none;
  font-weight: 700;
}

.chroma .nn {
  text-decoration: none;
}

.chroma .n {
  color: #f2f2f2;
}

.chroma .o {
  font-weight: 700;
}

.chroma .nb,
.chroma .mi {
  font-weight: 700;
}

blockquote {
  font-size: 0.9em;
  font-weight: 300;
  font-style: italic;
  color: #a9fb68;
  background: var(--widget-bg-color);
  border-left: 3px solid #a9fb68;
  padding: 5px 15px;
  margin: 0 0 1em;
}

article blockquote p strong {
  color: #a9fb68;
}

blockquote.rfc {
  color: #2196f3;
  font-size: 0.85em;
  font-weight: 400;
  border-left: 2px solid #2196f3;
  padding: 5px 10px;
  margin: 0 0 1em 1em;
}

blockquote.rfc .bold-text {
  color: #2196f3;
}

.code-details blockquote {
  margin: 0 0 1em;
}

.rfc pre {
  border: 0;
  padding: 0;
  margin: 1em 1em 1em 2em;
}

.defined-term {
  margin: 0.5em 0 0.5em 1em;
}

.content blockquote ul {
  margin: 0 0 0 2em;
}

.code-details blockquote code {
  color: #d8d8d8;
  background: var(--widget-bg-color);
}

.code-details blockquote p {
  font-size: 1em;
}

figure {
  text-align: center;
  display: block;
}

figure img {
  margin: auto;
}

.main__header {
  margin: 0 0 0.5em;
}

figcaption {
  text-align: center;
  color: #a9fb68;
  font-weight: 400;
  font-size: 0.9em;
  font-style: italic;
  margin: 10px 0 0;
}

.warning {
  color: #f92672;
  border: none;
  background-color: var(--widget-bg-color);
}

.warning__code {
  font-size: 6em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 5px;
  margin: 0 0 10px;
}

.warning__headline {
  color: #f92672;
  font-size: 2em;
  font-weight: 700;
  margin: 10px 0 1em;
  text-transform: uppercase;
}

.warning__text {
  font-size: 1.3em;
  color: #d8d8d8;
  margin: 0;
}

:focus > .menu__btn-title {
  box-shadow: inset 0 0 1px 3px var(--widget-bg-color);
}

#social {
  display: flex;
  flex-flow: row nowrap;
  align-self: flex-start;
  margin: auto 0 auto 10px;
  flex: 0 0 auto;
}

#social a {
  font-weight: 400;
  color: #b3b3b3;
}

#social a:active,
#social a:active:hover,
#social a:focus,
#social a:hover {
  color: #f2f2f2;
  text-decoration: underline;
}

#social ul {
  font-size: 1.3em;
  list-style-type: none;
  margin: 1px 0;
  padding: 0;
  overflow: hidden;
}

#social ul li {
  float: left;
  padding: 3px 0;
}

#social ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.meta__text,
.meta__link {
  font-size: 0.8125em;
}

.meta,
.meta a {
  font-size: 1em;
  color: #7f7f7f;
}

.meta a:hover {
  color: #7f7f7f;
  text-decoration: underline;
}

.meta__icon {
  fill: #7f7f7f;
}

.post__meta {
  border-top: 1px dotted #7f7f7f;
  border-bottom: none;
}

.warning a {
  font-weight: 400;
  color: #6fc1ff;
}

.warning a:hover {
  color: #6fc1ff;
}

.list__header,
.post__header,
.main__header {
  background-color: #323232;
}

.toc__menu nav {
  padding: 0;
}

#api-tutorial ul {
  color: #ae81ff;
  margin: 10px 0 5px 20px;
}

.toc__menu ul {
  margin: 0;
  line-height: 1.3;
  color: #19f6d6;
}

.toc__menu ul li ul {
  list-style: disc;
  padding: 0;
  margin: 0 0 0 20px;
}

.toc__menu ul li {
  padding: 0;
  margin: 0;
}

.toc__menu ul li ul li {
  padding: 0;
  margin: 5px 0;
  line-height: 1.3;
}

.toc__menu ul li ul li ul li,
.toc__menu ul li ul li ul li ul li {
  padding: 0;
  margin: 0 0 5px;
}

.toc__menu ul li ul li ul li:last-child,
.toc__menu ul li ul li ul li ul li:last-child {
  margin: 0 0 10px;
}

.toc__menu ul ul ul,
.toc__menu ul ul ul ul {
  font-size: 0.9em;
  margin: 5px 0 0 15px;
}

.toc__menu ul ul ul {
  list-style: circle;
}

.toc__menu ul ul ul ul {
  list-style: square;
}

.toc__menu ul ul ul a,
.toc__menu ul ul ul ul a,
.toc__menu ul ul ul ul ul a {
  padding-left: 0;
}

.toc {
  background: var(--widget-bg-color);
  border: none;
  width: auto;
  padding: 7px 10px;
}

.tutorial .toc {
  margin: 0;
}

.toc__title {
  font-size: 1.35em;
  font-weight: 400;
  text-transform: none;
  color: #e2e2e2;
  line-height: 1.3;
  border-bottom: 1px solid #19f6d6;
  border-radius: 0;
  background-color: var(--widget-bg-color);
  padding: 0 0 5px 0;
  margin: 0;
}

.toc__menu a {
  display: inline;
  font-size: 1em;
  border: none;
  padding: 0;
}

.toc__menu a {
  color: #19f6d6;
}

.list__item {
  border-bottom: 2px dotted #7f7f7f;
}

.pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: 1.5em 2em 0 0;
}

.pagination__item {
  font-weight: 700;
}

a.pagination__item,
span.pagination__item--current,
span.pagination__item--current:hover,
span.pagination__item--current:active,
span.pagination__item--current:active:hover,
span.pagination__item--current:focus {
  color: #323232;
  background: #6fc1ff;
  border: 1px solid #6fc1ff;
}

a.pagination__item:hover,
a.pagination__item:active,
a.pagination__item:active:hover,
a.pagination__item:focus {
  color: #6fc1ff;
  background: #323232;
  border: 1px solid #6fc1ff;
}

a.pagination__item--prev {
  margin: 0;
}

a.pagination__item--next {
  margin: 0;
}

.pagination__item--current {
  margin: 0 3px;
}

.flex-row,
.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-item {
  flex: 0 0 50%;
}

.about-me .content {
  margin: 0 5em 3em;
}

.fa-bullet-list {
  margin: 0 0 0 0.5em;
  padding: 0 0 10px;
}

.requirements .fa-bullet-list {
  margin: 0 0 15px 10px;
}

.fa-bullet-list p.fa-bullet-list-item {
  position: relative;
  margin: 0 0 2em 2em;
}

.fa-bullet-list p {
  position: relative;
  margin: 0 0 1em 2em;
}

.about-me .fa-bullet-list-item:last-child {
  margin: 0 0 0 2em;
}

.requirements .fa-bullet-list-item {
  font-size: 0.9em;
  position: relative;
  margin: 0 0 5px 20px;
}

.fa-bullet-icon {
  font-size: 24px;
  position: absolute;
  left: -50px;
  margin-top: 5px;
}

.requirements .fa-bullet-icon {
  font-size: 12px;
  position: absolute;
  left: -20px;
  margin: 3px 0 0;
}

.post-nav-flex-item-prev,
.post-nav-flex-item-next {
  flex: 1 1 150px;
  border: none;
  border-radius: 4px;
}

.post-nav-flex-item-prev {
  margin: 0 5px 0 0;
}

.post-nav-flex-item-next {
  margin: 0 0 0 5px;
}

.title-prev,
.title-next {
  flex: 0 1 auto;
}

.post-nav .chevron-prev,
.post-nav .chevron-next {
  flex: 0 0 20px;
}

.inner-nav-flex-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.post-nav {
  border-top: 1px dotted #7f7f7f;
  border-bottom: 1px dotted #7f7f7f;
  padding: 1em 0;
  margin: 0 2em 1em 0;
  background-color: #323232;
}

.post-nav__link,
a.post-nav__link {
  display: inline;
  color: var(--blog-link-color);
  background-color: #323232;
  border: none;
  border-radius: 4px;
}

.post-nav__link:hover,
.post-nav__link:active,
.post-nav__link:active:hover,
.post-nav__link:focus,
a.post-nav__link:hover,
a.post-nav__link:active,
a.post-nav__link:active:hover,
a.post-nav__link:focus {
  color: var(--blog-link-color);
  text-decoration: underline;
}

.tutorial .post-nav__link,
.tutorial a.post-nav__link {
  color: var(--tut-link-color2);
}

.tutorial .post-nav__link:hover,
.tutorial .post-nav__link:active,
.tutorial .post-nav__link:active:hover,
.tutorial .post-nav__link:focus,
.tutorial a.post-nav__link:hover,
.tutorial a.post-nav__link:active,
.tutorial a.post-nav__link:active:hover,
.tutorial a.post-nav__link:focus {
  color: var(--tut-link-color2);
}

#header-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border: none;
  font-size: 1em;
  padding: 0 5px;
  margin: 0 0 10px;
}

#header-nav .post-nav-flex-item-prev,
#header-nav .post-nav-flex-item-next {
  flex: 0 0 100px;
  border: none;
}

#header-nav .post-nav-flex-item-prev {
  padding: 0;
  margin: 0;
}

#header-nav .post-nav-flex-item-next {
  padding: 0;
  margin: 0;
}

.post-nav-flex-item-disabled {
  visibility: hidden;
}

#header-nav .post-nav__link,
#header-nav .post-nav__link:hover,
#header-nav .post-nav__link:active,
#header-nav .post-nav__link:active:hover,
#header-nav .post-nav__link:focus,
#header-nav .post-nav__link:hover,
#header-nav .post-nav__link:active,
#header-nav .post-nav__link:active:hover,
#header-nav .post-nav__link:focus {
  display: inline;
  border-radius: 4px;
  color: #19f6d6;
  text-decoration: none;
}

#header-nav .post-nav__chevron:hover,
#header-nav .post-nav__chevron:active,
#header-nav .post-nav__chevron:active:hover,
#header-nav .post-nav__chevron:focus {
  color: #19f6d6;
}

#header-nav .chevron-prev {
  margin: 0 5px auto 0;
}

#header-nav .chevron-prev i.fa,
#header-nav .chevron-next i.fa {
  padding: 0;
}

#header-nav .chevron-next {
  margin: 0 0 auto 5px;
}

#header-nav .chevron-prev,
#header-nav .chevron-next {
  flex: 0 0 auto;
}

#header-nav .post-nav__post-title {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1;
  padding: 0;
  margin: 0;
}

#header-nav .post-nav__post-title:hover,
#header-nav .post-nav__post-title:active,
#header-nav .post-nav__post-title:active:hover,
#header-nav .post-nav__post-title:focus {
  color: #19f6d6;
  text-decoration: underline;
}

#header-nav .title-prev,
#header-nav .title-next {
  flex: 0 0 auto;
}

#header-nav .title-prev {
  margin: 0 0 0 1px;
}

#header-nav .title-next {
  margin: 0 1px 0 0;
}

header .post-nav__link:hover,
header .post-nav__link:active,
header .post-nav__link:active:hover,
header .post-nav__link:focus,
header a.post-nav__link:hover,
header a.post-nav__link:active,
header a.post-nav__link:active:hover,
header a.post-nav__link:focus {
  color: #19f6d6;
}

.post-nav__item {
  flex: none;
  max-width: none;
}

.post-nav__item--prev {
  text-align: left;
  justify-content: flex-start;
}

.post-nav__item--next {
  text-align: right;
  justify-content: flex-end;
}

.post-nav .post-nav__post-title {
  line-height: 1.3;
}

.post-nav__post-title {
  display: inline;
  font-weight: 500;
  font-size: 1em;
}

.post-nav .post-nav__chevron {
  margin: 2px 0 auto;
}

.post-nav__chevron {
  display: inline;
  font-weight: 400;
  font-size: 0.8em;
  line-height: 1;
  margin: auto 0;
}

.post-nav__post-title:hover {
  text-decoration: underline;
}

.post-nav__post-title:hover,
.post-nav__chevron:hover {
  color: #a9fb68;
}

.post-nav a {
  padding: 0;
}

input {
  background: #d8d8d8;
  border: 1px solid #d8d8d8;
}

.widget {
  padding: 5px 0 15px;
  margin: 0;
}

#widgets {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  margin: 1.5em 0 0;
  padding: 0;
}

.widget__title {
  color: #e2e2e2;
  font-size: 1.45em;
  border-bottom: 1px solid #6fc1ff;
  text-transform: none;
}

#api-tutorial {
  padding: 7px 10px;
  background-color: var(--widget-bg-color);
}

#api-tutorial ul {
  color: #19f6d6;
  margin: 0 0 0 20px;
  padding: 0;
  line-height: 1.3;
}

#api-tutorial ul li {
  margin: 5px 0;
  line-height: 1.3;
}

#api-tutorial a,
#api-tutorial a:hover {
  color: #19f6d6;
}

#api-tutorial a:hover {
  text-decoration: underline;
}

#categories .widget__title {
  font-size: 1.45em;
  border-bottom: 1px solid #6fc1ff;
}

#categories a,
#categories a:hover {
  font-weight: 400;
  color: #6fc1ff;
}

#api-tutorial a:hover {
  text-decoration: underline;
}

.widget__item {
  border-bottom: none;
}

.widget-categories a {
  text-transform: capitalize;
}

#search-form {
  margin: 0;
}

#widgets .search-container {
  position: relative;
  z-index: 0;
  height: 26px;
  width: 100%;
  line-height: 15px;
  padding: 0;
}

#widgets .search-container {
  height: 40px;
}

#widgets .search-inner-wrapper {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: inherit;
  height: inherit;
  margin: 0;
  top: 0;
  left: 0;
}

.search-error {
  position: absolute;
  z-index: 2;
  width: inherit;
  height: 40px;
  display: flex;
  transition: all 0.5s ease-out;
}

.search-error.hide-element {
  display: none;
}

.search-error-message {
  font-style: italic;
  color: #f92672;
  text-align: center;
  margin: auto;
  line-height: 14px;
  transition: all 0.5s ease-out;
}

#search {
  font-size: 15px;
  color: #909090;
  background-color: var(--widget-bg-color);
  border: none;
  padding: 3px;
  margin: 0;
  flex: 1 0 auto;
}

#search-form #search {
  margin: 0 0 0 5px;
  border: 1px #909090;
  border-radius: 4px;
  margin: 0 5px 0 10px;
  outline: 0;
}

.search-container .fa {
  font-size: 1.3em;
  color: #909090;
  margin: auto 0;
}

.search-container button {
  font-size: 0.9em;
  color: #909090;
  background-color: var(--widget-bg-color);
  border: 1px solid #909090;
  border-radius: 4px;
  padding: 4px 5px;
  margin: 0 0 0 3px;
}

#search-button:hover,
#search-button:active,
#search-button:focus,
#search-button:active:hover {
  color: var(--widget-bg-color);
  background-color: #909090;
  border: 1px solid #909090;
}

.footer {
  font-size: 0.85em;
  color: #7f7f7f;
  background: #323232;
  border-top: 2px solid #6fc1ff;
}

.footer a {
  color: #6fc1ff;
}

table code {
  color: #d8d8d8;
  background-color: inherit;
}

table.tutorial thead .table-number,
table.tutorial thead .table-title {
  font-size: 0.95em;
}

table.tutorial thead th.column-header,
table.tutorial thead th.column-header:first-child,
table.tutorial thead th.column-header:last-child {
  font-size: 0.95em;
  vertical-align: bottom;
}

table.tutorial thead th.column-header sup,
table.tutorial tbody td sup,
table.tutorial tfoot td sup {
  font-size: 0.8em;
}

table.tutorial tbody td {
  font-size: 0.875em;
}

table.tutorial code {
  font-size: 0.875em;
}

table.tutorial tbody td,
table.tutorial thead th.column-header {
  padding: 3px 5px;
}

table.tutorial tbody td:first-child,
table.tutorial thead th.column-header:first-child {
  padding: 3px 3px 3px 5px;
}

table.tutorial tbody td:last-child,
table.tutorial thead th.column-header:last-child {
  padding: 3px 5px 3px 3px;
}

table tfoot td p:first-child {
  margin: 0;
}

table tfoot td p {
  margin: 0 0 3px 9px;
}

table tfoot code {
  color: #a9fb68;
}

.tutorial .table-wrapper {
  margin: 0 auto 1em;
}

.tutorial tr:first-child td.table-footer {
  padding: 10px 0 5px;
}

.tutorial tr td.table-footer {
  font-weight: 400;
  padding: 0 0 5px;
}

.table-wrapper {
  font-size: 0.95em;
  line-height: 1.2;
  width: 100%;
  margin: 0 auto 2em;
  padding: 0;
  white-space: nowrap;
}

ul .table-wrapper {
  margin: 1em auto;
}

.responsive {
  overflow-x: auto;
  overflow-y: hidden;
  width: auto;
  margin: auto;
  padding: 0 0 5px;
}

.responsive table {
  width: auto;
  table-layout: auto;
  border: none;
  color: #d8d8d8;
  background-color: #323232;
  margin: 0 auto;
}

.responsive th {
  font-weight: 700;
  border: none;
  background-color: #323232;
  color: #d8d8d8;
}

.responsive tbody th {
  color: #d8d8d8;
  font-size: 0.8em;
  font-weight: 400;
}

.responsive tbody td {
  color: #d8d8d8;
  border: 1px solid #6fc1ff;
}

.responsive tfoot {
  padding-top: 10px;
}

.responsive table a {
  color: #6fc1ff;
  font-weight: 500;
}

.responsive .site-type,
.table-wrapper .aws-hosting-costs tbody th.site-type {
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #7f7f7f;
}

.table-wrapper .aws-hosting-costs tbody .has-bottom-border-heavy {
  border-bottom: 3px solid #7f7f7f;
}

th.column-header,
.responsive thead tr th {
  background-color: #6fc1ff;
  color: #323232;
  line-height: 0.8;
  border: 1px solid #6fc1ff;
  vertical-align: middle;
  text-align: center;
}

th.first-column,
.responsive td.first-column,
.responsive tbody tr td:first-child,
.responsive thead tr th:first-child {
  border-left: 1px solid #6fc1ff;
  padding: 5px 5px 5px 8px;
  vertical-align: middle;
}

.responsive tbody tr th:first-child {
  border-left: none;
}

th.last-column,
.responsive td.last-column,
.responsive tbody tr td:last-child,
.responsive thead tr th:last-child {
  border-right: 1px solid #6fc1ff;
  padding: 5px 8px 5px 5px;
  vertical-align: middle;
}

.responsive td.last-row,
.responsive tbody tr:last-child td {
  border-bottom: 1px solid #6fc1ff;
}

.responsive td.table-footer {
  line-height: 0.8;
}

.table-wrapper thead td {
  font-size: 0.85em;
  font-weight: 400;
}

.table-wrapper tfoot td {
  font-size: 0.8em;
  font-weight: 300;
}

.table-wrapper thead td,
.table-wrapper tfoot td {
  background-color: #323232;
  color: #d8d8d8;
  border: none;
  padding: 5px;
  text-align: left;
}

.table-wrapper tfoot a {
  font-weight: 400;
}

.table-wrapper thead .table-title {
  font-style: italic;
  padding-bottom: 10px;
}

.table-wrapper thead .table-number,
.table-wrapper thead .table-title {
  color: #a9fb68;
  font-size: 0.9em;
  font-weight: 400;
}

.table-wrapper tbody td {
  border: none;
  padding: 5px 8px;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
}

.table-wrapper .aws-hosting-costs tbody td {
  border-bottom: 1px solid #7f7f7f;
}

.table-wrapper .aws-hosting-costs thead th {
  border: none;
}

.table-wrapper .aws-hosting-costs tbody th {
  background-color: #323232;
  color: #d8d8d8;
  border-bottom: none;
  border-top: 1px solid #7f7f7f;
  border-left: 1px solid #7f7f7f;
}

.table-wrapper .aws-hosting-costs .pricing-model {
  border-bottom: none;
}

.table-wrapper .aws-hosting-costs tbody td {
  text-align: right;
}

.table-wrapper .aws-hosting-costs tbody td.first-column {
  border-left: 1px solid #6fc1ff;
}

.table-wrapper .aws-hosting-costs tbody td.last-column {
  border-right: 1px solid #6fc1ff;
}

.table-wrapper .aws-hosting-costs tbody td.last-row {
  border-bottom: 1px solid #6fc1ff;
}

.table-wrapper .aws-hosting-costs tbody td.common-config {
  border-left: 1px solid #7f7f7f;
}

.responsive .sub-heading {
  font-size: 0.85em;
}

.responsive .numeric {
  text-align: right;
}

tr:nth-child(even) {
  background-color: var(--widget-bg-color);
}

tr:nth-child(odd) {
  background-color: #323232;
}

.pricing-table-1 {
  min-width: 650px;
  width: 100%;
}

table.aws-hosting-costs {
  margin-bottom: 1em;
}

.accordian {
  margin: 0 0 10px;
}

.accordian h2 {
  font-size: 1.1em;
  line-height: 1;
  margin: auto 0;
  padding: 7px 5px;
}

.accordian h2 a {
  color: #19f6d6;
  margin: 0 0 0 1px;
}

.accordian h2 a:hover,
.accordian h2 a:focus,
.accordian h2 a:active,
.accordian h2 a:active:hover {
  color: #19f6d6;
}

.accordian section {
  background-color: #323232;
  overflow: hidden;
}

.accordian section:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.accordian section:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.accordian section.ac_hidden {
  height: 29px;
}

.accordian .pointer {
  color: #19f6d6;
  font-size: 0.72727em;
  margin: auto 5px;
}

.accordian section h2 {
  background-color: var(--widget-bg-color);
}

.accordian section:not(.ac_hidden) h2 {
  background-color: #444;
}

.accordian section:not(.ac_hidden) .pointer {
  transform: rotate(90deg);
}

#menu {
  display: flex;
  flex-flow: row nowrap;
}

#search {
  color: var(--header-link-color1);
  background-color: var(--widget-bg-color);
  font-size: 1em;
}

.search-container .fa {
  font-size: 1em;
  margin: auto 5px auto 2px;
}

#search-button {
  display: none;
}

.site-menu a {
  font-size: 1.1em;
  padding: 10px;
  margin: 0 5px;
}

header,
#menu {
  color: var(--header-link-color1);
  background-color: var(--header-bg-color);
}

.menu-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 0 0 0 25px;
}

.site-name {
  margin: auto 0;
  text-align: center;
}

.menu-bar,
.site-menu {
  flex: 0 0 50%;
  line-height: 1;
  white-space: nowrap;
}

#menu a {
  color: var(--header-link-color1);
  text-decoration: none;
  border-top: 1px solid var(--header-bg-color);
  border-bottom: 1px solid var(--header-bg-color);
}

#menu a:hover,
#menu a:focus,
#menu a:active,
#menu a:active:hover {
  color: var(--header-link-color2);
  text-decoration: none;
}

#menu .site-menu a.active {
  color: var(--header-link-color2);
  border-bottom: 1px solid var(--header-link-color2);
}

#menu .site-name-link {
  color: var(--header-link-color1);
  border: none;
  text-decoration: none;
  margin: auto 0;
}

#site-name {
  font-size: 18px;
}

.site-social,
.site-menu {
  display: flex;
  flex-flow: column nowrap;
  margin: auto 0;
}

.site-name,
.site-menu {
  letter-spacing: 0.5px;
}

.site-menu {
  padding: 0 25px 0 0;
}

.site-social ul,
.site-menu ul,
#sourcerer-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.9em;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.site-social ul li,
.site-menu ul li {
  float: left;
  white-space: nowrap;
}

.site-social a {
  padding: 0 6px;
}

.site-social a,
.site-menu a {
  display: block;
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
}

.home {
  font-size: 10px;
}

.home .post {
  margin: 0 2em;
}

.home header {
  margin: 0;
}

.home .content {
  margin: var(--no-margin);
  padding: var(--bot-padding-10);
  border-bottom: 2px dotted var(--home-hr-color);
}

.home h1 {
  color: var(--home-title-color);
  font-size: 2.6em;
  font-weight: 400;
  margin: 0 0 10px;
}

.home header p {
  font-size: 1.8em;
  font-weight: 100;
  color: var(--home-lead-color);
  font-style: normal;
  margin: 0 0 20px;
}

.home p {
  color: var(--home-p-color);
  font-size: 1.5em;
  line-height: 22px;
}

.home hr {
  border: 2px dotted var(--home-hr-color);
  margin: var(--top-bottom-10);
}

#recent-posts-wrapper,
#featured-projects-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  max-width: 875px;
  margin: 0 auto;
}

#featured-projects-wrapper {
  margin: 0 auto 15px auto;
}

#recent-posts-wrapper h4,
#featured-projects-wrapper h4 {
  color: var(--home-h4-color);
  font-size: 2.3em;
  text-transform: lowercase;
  margin: 25px auto 10px 1px;
}

#recent-posts,
#featured-projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.recent-post,
.github-repo {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1 30%;
  background-color: var(--home-card-bg-color);
  margin: 10px 0;
  padding: 10px 15px;
  border: 1px solid var(--home-card-bg-color);
  border-radius: 4px;
}

.recent-post .post-meta-date .meta__text {
  color: var(--home-recent-post-date-color);
  font-size: 14px;
  line-height: 23px;
  margin: 0 0 5px;
}

.recent-post .post-title {
  display: block;
  font-size: 16px;
  line-height: 23px;
  margin: 0 0 auto 0;
}

.recent-post .post-categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 10px 0 0 0;
}

#widgets .post-categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  background-color: var(--page-bg-color);
  padding: 0;
  margin: 0 0 2em 0
}

.post-category {
  --cat-color: var(--light-gray2);
  font-size: 12px;
  font-weight: 700;
  color: var(--black2);
  background-color: var(--cat-color);
  border: 1px solid var(--cat-color);
  border-radius: 4px;
  margin: 3px 7px 3px 0;
  padding: 1px 5px;
  white-space: nowrap;;
}

#widgets .post-category {
  color: var(--black2);
  font-size: 14px;
  font-weight: 700;
  padding: 5px 7px;
  margin: 5px 3px;
  line-height: 14px;
  flex: 1;
  text-align: center;
  text-transform: lowercase;
}

.post-category:hover,
.post-category:focus,
.post-category:active,
.post-category:active:hover,
#widgets .post-category:hover,
#widgets .post-category:focus,
#widgets .post-category:active,
#widgets .post-category:active:hover {
  color: var(--cat-color);
  background-color: var(--black2);
  border: 1px solid var(--cat-color);
  text-decoration: none;
  font-weight: 700;
}

.post-category.python {
  --cat-color: var(--python);
}

.post-category.devops {
  --cat-color: var(--devops);
}

.post-category.aws {
  --cat-color: var(--aws);
}

.post-category.hugo {
  --cat-color: var(--hugo);
}

.post-category.javascript {
  --cat-color: var(--javascript);
}

.post-category.dotnet {
  --cat-color: var(--dotnet);
}

.post-category.linux {
  --cat-color: var(--linux);
}

.post-category.flask {
  --cat-color: var(--flask);
}

.post-category.virtualization {
  --cat-color: var(--virtualization);
}

#home-blog-link,
#view-on-github-link {
  font-size: 2em;
  color: var(--link-color);
  padding: 5px 7px;
  margin: 15px auto 5px auto;
  line-height: 16px;
}

#home-blog-link:hover,
.recent-post .post-category:hover {
  text-decoration: none;
}

#home-blog-link .fa,
#view-on-github-link .fa {
  font-size: 0.8em;
  margin: 0 0 3px 3px;
}

.repo-top,
.repo-bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.repo-top {
  font-size: 16px;
  margin: 0 0 5px 0;
}

.repo-top .fa {
  font-size: 18px;
}

.repo-top .fa:hover,
.repo-top .fa:active,
.repo-top .fa:focus,
.repo-top .fa:active:hover {
  color: var(--white2);
}

.repo-middle {
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 auto 0;
}

.repo-bottom {
  font-size: 14px;
  margin: 10px 0 0 0;
}

.repo-language {
  line-height: 14px;
}

.repo-stats-wrapper,
.repo-stats {
  display: flex;
  flex-flow: row nowrap;
  line-height: 14px;
}

.repo-stats {
  margin: 0 3px;
}

.repo-language .fa {
  margin: 0 5px;
}

.repo-stats .fa {
  margin: 0 3px;
}

.orange {
  color: #fd971f;
}

.purple {
  color: #ae81ff;
}

.green {
  color: #a9fb68;
}

.search-results {
  flex: 1 0 68%;
  margin: 1.5em 0 3em 0;
}

.search-query {
  color: #b3b3b3;
  font-size: 1.8em;
  line-height: 25px;
}

.search-results ul {
  list-style: none;
  margin: 0 2em 0 0;
}

.search-results p {
  line-height: 1.4;
}

#search-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 2em 2em 0;
}

#query {
  color: #f2f2f2;
}

#search-header .button {
  cursor: pointer;
  font-size: 13px;
  color: #323232;
  background-color: #f92672;
  border: 1px solid #f92672;
  border-radius: 4px;
  line-height: 13px;
  margin: 0;
  padding: 6px;
  box-sizing: border-box;
}

#search-header .button:hover,
#search-header .button:active,
#search-header .button:focus,
#search-header .button:active:hover {
  color: #f92672;
  background-color: #323232;
  border: 1px solid #f92672;
}

.fade {
  -webkit-animation: fade 4s;
  animation: fade 4s;
  -moz-animation: fade 4s;
  -o-animation: fade 4s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-moz-keyframes fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-o-keyframes fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.comments {
  margin: 1.5em 2em 1.5em 0;
  padding: 0 1em 0 0.5em;
  background-color: var(--comments-bg);
  border-radius: 4px;
  border: 1px solid var(--comments-border);
}

@media screen and (max-width: 767px) {
  .pagination {
    justify-content: center;
  }
  .search-results {
    margin: 1.5em 0 1em 0;
    padding: 0 0 15px 0;
    border-bottom: 2px dotted #7f7f7f;
  }

  main {
    margin: 0;
  }

  .post-nav {
    border-top: 1px dotted #7f7f7f;
    margin: 0 0 2em;
    padding: 1em 0;
  }

  .home h1 {
    font-size: 2.5em;
  }

  .home header p {
    font-size: 1.8em;
  }

  #recent-posts-wrapper,
  #featured-projects-wrapper {
    margin: 0 auto 25px auto;
  }

  #recent-posts-wrapper h4,
  #featured-projects-wrapper h4 {
    margin: 20px auto 10px;
  }

  #recent-posts,
  #featured-projects {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .recent-post,
  .recent-post:first-child,
  .recent-post:last-child,
  .github-repo,
  .github-repo:first-child,
  .github-repo:last-child {
    width: 80%;
    margin: 10px auto;
  }

  #home-blog-link,
  #view-on-github-link {
    margin: 5px auto;
  }

  .wrapper {
    padding: 1em;
  }

  .primary {
    margin: 1em 0 0;
  }

  .about-me .post {
    margin: 0 0 1.25rem;
    padding: 0 0 1.25rem;
  }

  .main__header h1 {
    font-size: 1.7em;
  }

  h1.post__title {
    font-size: 1.25rem;
  }

  #showcase {
    padding: 7px 10px;
  }

  #toc-header {
    display: block;
    font-size: 1em;
  }

  .post-nav__post-title {
    font-weight: 500;
    font-size: 1em;
    line-height: 1.1;
    margin: auto 0;
  }

  #header-nav .post-nav__post-title {
    font-size: 1.1em;
  }

  .post-nav__item--next {
    padding: 15px 0 0 0;
  }

  .post-nav__item--prev {
    padding: 0;
  }

  .post-nav__chevron {
    font-weight: 500;
  }

  #widgets {
    margin: 20px 0 0;
  }

  .sidebar {
    padding: 0.5em 0 0;
    margin: 0;
  }

  .comments {
    margin: 1.5em 0;
  }

  .list__item {
    margin: 0 0 15px;
  }

  .list__item:last-child {
    margin: 0;
  }

  .pagination {
    margin: 0;
    padding: 20px 0;
    justify-content: center;
    border-bottom: 2px dotted #7f7f7f;
  }

  .about-me .content {
    margin: 0 0.5em 0 1em;
  }

  body,
  .content p {
    line-height: 1.4;
  }

  #showcase p {
    line-height: 1.5;
  }

  .blog-list {
    line-height: 1.6;
  }

  h1 {
    font-size: 1.4em;
  }

  .about-me h1 {
    font-size: 1.6em;
    font-weight: 500;
  }

  .content ol li ul,
  .content ul li ul {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .list__title {
    font-size: 1.2em;
  }

  .meta__item {
    display: inline;
    margin-left: 15px;
  }

  .main__header h1 {
    font-size: 1.25rem;
  }

  .flex-row {
    justify-content: center;
  }

  .flex-item {
    flex: 100%;
  }

  .post-nav {
    border-top: 1px dotted #7f7f7f;
    border-bottom: 1px dotted #7f7f7f;
    margin: 0 0 1em;
    padding: 1em 0;
  }

  header .post-nav__item--prev,
  header .post-nav__item--next {
    margin: 0;
    padding: 0;
  }

  #menu {
    min-height: 30px;
  }

  .site-menu {
    margin: 0;
    padding: 0 14px 0 0;
  }

  .menu-bar {
    padding: 0 0 0 14px;
  }

  .site-menu a {
    padding: 8px;
    margin: 5px 5px 0;
  }
}

@media screen and (max-width: 560px) {
  #menu {
    font-size: 13px;
  }
  #site-name {
    font-size: 16px;
  }
  .site-social a {
    padding: 0 5px;
  }
  .site-menu a {
    margin: 5px 2px 0;
  }
}

@media screen and (max-width: 520px) {
  #menu {
    font-size: 14px;
    flex-flow: column nowrap;
  }

  #site-name {
    font-size: 18px;
  }

  #site-name {
    flex: 1 0 45%;
  }

  .site-menu,
  .menu-bar {
    padding: 3px 1em 0;
  }

  .menu-bar {
    justify-content: space-between;
  }

  .site-menu ul {
    justify-content: space-between;
  }

  .site-menu a {
    font-size: 1.1em;
    padding: 5px 10px 7px;
    margin: 0 3px;
  }

  #social {
    margin: auto;
    flex: 1 0 45%;
    justify-content: center;
  }
}

@media screen and (max-width: 500px) {
  .post-nav-flex-item-prev,
  .post-nav-flex-item-next {
    flex: 1 0 100%;
  }
  #search-header {
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 0 1em;
  }
  #search-header .button {
    margin: 10px auto 10px 0;
  }
}

@media screen and (max-width: 350px) {
  .site-name-link {
    font-size: 1.1em;
  }
}
