.hide-element,
.primary.hide-element,
#search-form .search-error.hide-element {
  display: none;
}

.copyable-text-area {
  position: absolute;
  height: 0;
  z-index: -1;
  opacity: .01;
}

.header-text {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  margin: 1.5em 0 0.75em;
}

.content a.hanchor {
  color: var(--header-anchor-link);
}

.content a.hanchor:hover,
.content a.hanchor:active,
.content a.hanchor:active:hover,
.content a.hanchor:focus  {
  color: var(--header-anchor-link-hover);
  text-decoration: none;
}

.content .header-text a.hanchor-self {
  align-self: baseline;
}

.content h2 {
  font-size: 24px;
  line-height: 1.2;
}

.content .header-text.level1 a.hanchor-self {
  margin: 4px 7px 0 0;
}

.content .header-text.level1 a.hanchor-self,
.content .header-text.level1 a.hanchor-top {
  font-size: 20px;
  line-height: 20px;
}

.content h3 {
  font-size: 20px;
  line-height: 1.2;
}

.content .header-text.level2 a.hanchor-self {
  margin: 4px 6px 0 0;
}

.content .header-text.level2 a.hanchor-self,
.content .header-text.level2 a.hanchor-top {
  font-size: 18px;
  line-height: 18px;
}

.content h4,
.content h5 {
  font-size: 18px;
  line-height: 1.2;
}

.content .header-text.level3 a.hanchor-self,
.content .header-text.level4 a.hanchor-self {
  margin: 4px 7px 0 0;
}

.content .header-text.level3 a.hanchor-self,
.content .header-text.level4 a.hanchor-self,
.content .header-text.level3 a.hanchor-top,
.content .header-text.level4 a.hanchor-top {
  font-size: 16px;
  line-height: 16px;
}

.content .header-text a.hanchor-top {
  margin: 0 0 0 6px;
  text-align: right;
  align-self: flex-start;
}

.header-text h2,
.header-text h3,
.header-text h4,
.header-text h5 {
  flex: 1;
  align-self: center;
}

.hanchor-text {
  font-size: 0.95em;
  letter-spacing: 0.85px;
  word-spacing: 2px;
  margin: 0 7px 0 0;
  vertical-align: baseline;
}

html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

body {
  font-family: roboto, Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
  background: var(--site-bg-color);
  color: var(--body-text-color);
  margin: 0;
  line-height: 1.6;
}

pre,
code {
  font-family: roboto mono, SFMono-Regular, Menlo, courier new, monospace;
}

main {
  margin: 0 30px 0 0;
}

main.home {
  margin: 20px auto 0 auto;
  max-width: 750px;
  width: 80%;
}

main.list {
  border: none;
}

p {
  margin: 0 0 20px;
}

ol li p {
  margin: 0 0 10px;
}

.avatar {
  border: 1px solid #d8d8d8;
  margin: 0 0 10px;
}

.btn {
  transition: none;
}

.container,
.container--outer {
  margin: 0;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  background-color: var(--page-bg-color);
}

.wrapper {
  background: var(--page-bg-color);
  padding: 30px 30px 0 30px;
  border: none;
  width: 100%;
}

.primary {
  font-size: 1em;
  flex: 1 0 67%;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
}

.post__header {
  margin: 0 0 1.5em;
}

.content {
  font-size: 1em;
  margin: 0 0 20px;
}

.content p {
  font-size: 1em;
}

.list .content {
  margin: 0 0 10px;
}

.tutorial .list .content {
  margin: 0;
}

.sidebar {
  font-size: 1.1em;
  flex: 0 0 31%;
  margin: 0;
}

#widgets div {
  background-color: var(--widget-bg-color);
  border-radius: 4px;
  margin: 0 0 20px;
  padding: 10px;
}

#widgets .widget__content {
  margin: 0;
  padding: 5px;
}

#post-categories .widget__content {
  margin: 10px 0 0;
  padding: 0;
  justify-content: space-evenly;
}

.center {
  text-align: center;
  margin: 20px 0;
}

.content a.eyeballs {
  font-size: 1.2em;
  font-weight: 500;
  color: var(--green3);
}

.content a.eyeballs:hover {
  font-size: 1.2em;
  font-weight: 500;
  color: var(--green3);
  text-decoration: underline;
}

.content .summary-read-more,
.content .summary-read-more:hover,
.content .summary-read-more:focus {
  color: var(--link-color);
  font-weight: 500;
}

#showcase {
  margin: 0 auto;
  border-radius: 4px;
}

#showcase .showcase-message {
  color: var(--pink2);
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1.2;
}

#showcase p {
  margin: 0 0 10px;
}

#showcase a {
  color: var(--tut-link-color);
}

#showcase a:hover,
#showcase a:active,
#showcase a:active:hover,
#showcase a:focus {
  color: var(--tut-link-color);
  text-decoration: underline;
}

#showcase h2 {
  color: var(--tut-link-color);
  font-size: 1.25rem;
  margin: 7px 0;
}

#showcase strong {
  color: var(--white2);
  font-weight: 700;
}

.widget__list {
  list-style-type: none;
}

.widget h4 {
  margin: 0;
}

.main__header h1 {
  color: var(--header-color);
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0 0 10px;
}

.series__title a {
  color: var(--link-color)
}

.about-me .post__header {
  text-align: center;
  margin: 0 0 1.5em;
}

.about-me .post__title {
  font-size: 1.8em;
  font-weight: 400;
  margin: 0 0 0.25em;
}

.post__header p {
  margin: 2px 0;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre.project-structure {
  font-size: 0.75em;
  color: #7f7f7f;
  padding: 10px 15px;
}

pre .project-folder {
  color: #ae81ff;
  font-weight: 700;
}

pre .unmodified-file,
code.unmodified-file {
  color: #2196f3;
  font-weight: 500;
}

pre .work-file,
code.work-file {
  color: var(--green3);
  font-weight: 500;
}

pre .project-empty-file {
  color: #e2e2e2;
  font-weight: 500;
}

pre .key-label {
  font-weight: 700;
  color: #7f7f7f;
}

pre .project-structure-key {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: auto;
  max-width: -webkit-max-content;
  max-width: max-content;
  border: none;
}

pre .project-structure-key-wrapper {
  width: 100%;
  padding: 0;
  line-height: 1;
}

pre .key-item {
  flex: 0 0 auto;
  margin: 2px 5px;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
  margin: 1em 0;
  line-height: 1.2;
}

h1,
h1.post__title {
  font-size: 2em;
  color: var(--header-color);
  font-weight: 500;
  margin: 0 0 0 0;
}

.series__title {
  font-size: 0.95em;
  font-style: italic;
  color: #7f7f7f;
  margin: 0 0 20px;
}

.post__image {
  margin: 15px 0 0 0;
}

.list__item .post__image {
  margin: 0 0 15px 0;
  border: none;
}

.list__item figcaption,
#recent-posts figcaption {
  display: none;
}

.article-badges {
  margin: 0 0 15px;
}

.article-badges .badge {
  margin: 0 5px;
}

.article-badges .badge:first-child {
  margin: 0 5px 0 0;
}

.article-badges .badge:last-child {
  margin: 0 0 0 5px;
}

.badge {
  --cat-color: var(--accent-color2);
  color: #d8d8d8;
  background-color: var(--cat-color);
  color: var(--widget-bg-color);
  font-size: 0.9em;
  font-weight: 500;
  padding: 3px 5px;
  text-transform: lowercase;
  border-radius: 4px;
}

#showcase .badge {
  font-weight: 700;
  padding: 3px 6px;
  font-size: 0.9em;
}

.new-badge,
.tutorial-series-badge {
  --cat-color: var(--teal2);
}

.badge.python {
  --cat-color: var(--python);
}

.badge.devops {
  --cat-color: var(--devops);
}

.badge.aws {
  --cat-color: var(--aws);
}

.badge.hugo {
  --cat-color: var(--hugo);
}

.badge.javascript {
  --cat-color: var(--javascript);
}

.badge.dotnet {
  --cat-color: var(--dotnet);
}

.badge.linux {
  --cat-color: var(--linux);
}

.badge.flask {
  --cat-color: var(--flask);
}

.badge.virtualization {
  --cat-color: var(--virtualization);
}

h3,
h4,
h5 {
  font-size: 1.25em;
}

.list__header a {
  font-size: 1.25rem;
}

.content h2,
.content h3,
.content h4,
.content h5 {
  color: var(--header-color);
}

.content h2,
.content h3,
.content h4,
.content h5 {
  font-weight: 400;
  margin: 0;
}

.content h2 code,
.content h3 code,
.content h4 code,
.content h5 code {
  background-color: var(--black3);
  font-size: 0.9em;
  padding: 0 4px;
  margin: 0 3px 0 0;
  border-radius: 4px;
  vertical-align: inherit;
}

.content h4 code,
.content h5 code {
  font-size: 0.8em;
}

.about-me h1 {
  font-size: 1.6em;
  font-weight: 500;
  margin: 1em 10px 0.5em;
}

.cmd-prompt {
  color: var(--cmd-prompt);
  padding: 0 0 7px;
}

.cmd-input,
.cmd-repl-input {
  color: var(--cmd-input);
  padding: 0 0 7px;
}

.cmd-venv {
  color: var(--cmd-prompt-venv);
}

.cmd-results,
.cmd-repl-results {
  color: var(--cmd-results);
}

.cmd-comment {
  color: var(--cmd-comments);
}

.cmd-repl-prompt {
  color: var(--cmd-repl-prompt);
}

.cmd-repl-comment {
  color: var(--cmd-repl-comment);
}

.cmd-warning {
  color: var(--cmd-warning);
}

.cmd-lineno {
  color: var(--cmd-lineno);
  font-weight: 400;
}

.cmd-lineno-hl {
  color: var(--cmd-lineno-hl);
  font-weight: 700;
}

.cmd-hl-teal {
  background-color: var(--teal2);
  color: var(--widget-bg-color);
}

.cmd-hl-purple {
  background-color: var(--purple3);
  color: var(--widget-bg-color);
}

.cmd-hl-magenta {
  background-color: var(--magenta3);
  color: var(--widget-bg-color);
}

.cmd-hl-gold {
  background-color: var(--gold1);
  color: var(--widget-bg-color);
}

.cmd-hl-yellow {
  background-color: var(--yellow1);
  color: var(--widget-bg-color);
}

.cmd-hl {
  background: var(--hl-line-bg);
}

.cmd-hl-border {
  border: 1px dotted var(--cmd-hl-border);
  padding: 0;
}

.tox-passed {
  color: var(--green1);
}

.tox-skipped {
  color: var(--gold2);
}

.tox-failed,
.tox-error {
  color: var(--pink2);
}

a {
  font-weight: 400;
  color: var(--link-color);
  text-decoration: none;
}

a:hover,
a:focus,
a:active,
a:active:hover {
  font-weight: 400;
  color: var(--link-color);
  text-decoration: underline;
}

.widget a,
.widget a:hover {
  font-weight: 400;
  color: var(--link-color);
}

.widget a:hover {
  text-decoration: underline;
}

.content a {
  font-weight: 400;
  color: var(--link-color);
  text-decoration: none;
}

.content .list__header .post-meta-date .meta__text {
  color: var(--pink2);
  font-weight: 700;
}

.content .list__header .post__title {
  margin: 0;
}

.content a:hover {
  font-weight: 400;
  color: var(--link-color);
  text-decoration: underline;
}

.content ul,
.content ol {
  margin: 0 0 20px 2em;
}

.content ul ul {
  margin: 0 0 1em 1.5em;
}

.content ol li ul,
.content ul li ul {
  margin-top: 5px;
  margin-bottom: 15px;
}

.content ul p,
.content ol p {
  margin: 5px 0 10px;
}

.content ul .alert p,
.content ol .alert p,
.content ul .note p,
.content ol .note p {
  margin: 0;
}

.content ul div.alert,
.content ol div.alert,
.content ul div.note,
.content ol div.note {
  margin: 10px 0;
}

.content li {
  margin: 0 0 0.5em;
}

.content td ul {
  list-style-type: none;
  text-align: left;
  margin: 0;
}

.q-and-a li {
  color: #a9fb68;
}

.q-and-a li {
  font-size: 0.9em;
  font-weight: 400;
  padding: 5px 10px;
}

.widget li {
  padding: 0;
  margin: 7px 0;
  line-height: 1.3;
}

.widget-categories li a {
  text-transform: uppercase;
}

.bold-text {
  color: var(--header-color);
  font-weight: 700;
}

.note .bold-text {
  color: var(--note-box);
}

.italics {
  font-style: italic;
}

.content p .italics {
  color: var(--header-color);
}

.content p a .italics {
  color: var(--link-color);
}

.bold-italics {
  color: var(--header-color);
  font-weight: 700;
  font-style: italic;
}

.emphasis {
  color: var(--header-color);
  font-weight: 700;
  text-decoration: underline;
}

article p strong {
  color: var(--header-color);
}

.alert strong {
  font-weight: 700;
}

.green {
  color: var(--green3);
}

.steps .emphasis {
  font-weight: 700;
  color: var(--step-list);
}
.steps .green .emphasis {
  color: var(--green3);
}

.steps .pink .emphasis {
  font-weight: 700;
  color: var(--pink2);
}

.goldenrod {
  color: var(--gold1);
}

.alert {
  color: var(--alert-box);
}

.requirements {
  color: var(--tut-requirements);
}

.alert p strong,
.alert p .emphasis,
.alert p .bold-text,
.alert p .bold-italics {
  color: var(--alert-box);
}

span.italics.requirements {
  font-weight: 700;
}

.purple {
  color: var(--purple3);
}

.blue {
  color: var(--blue2);
}

.note {
  color: var(--note-box);
}

.note p strong,
.note p .emphasis,
.note p .bold-italics {
  font-weight: 700;
  color: var(--note-box);
}

.orange {
  color: var(--orange2);
}

.light-blue {
  color: var(--blue2);
}

.white {
  color: var(--off-white2);
}

.gray {
  color: var(--mid-gray2);
}

.pink {
  color: var(--pink2);
}

.teal {
  color: var(--teal2);
}

p .fa,
.about-me div .fa {
  font-size: 12px;
  margin: 0 2px;
}

.about-me .fa-bullet-list .fa {
  font-size: 24px;
}

div.alert,
div.note,
div.requirements {
  font-size: 0.95em;
  margin: 10px 0 15px 0;
  border-radius: 4px;
  overflow-wrap: normal;
  overflow-x: auto;
}

.fa-bullet-list-item div.requirements {
  margin: 10px 0 10px 25px;
}

span.requirements {
  font-size: 0.85em;
}

div.note-flex {
  border: 1px solid var(--note-box);
  background-color: var(--widget-bg-color);
}

.alert p,
.note p {
  margin: 0;
}

.alert-flex,
.note-flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.alert-icon,
.note-icon {
  font-size: 2em;
  margin: auto 5px;
  text-align: center;
}

.alert-icon i,
.note-icon i {
  width: 35px;
}

.alert-message,
.note-message {
  display: flex;
  text-align: left;
  margin: 0 5px;
}

.alert-message p,
.note-message p,
.content ul .alert .alert-message p {
  font-size: 1em;
  margin: auto 0;
}

.fa-bullet-list .note-message p {
  margin: 0;
}

div.alert {
  border: 1px solid var(--alert-box);
  background-color: var(--widget-bg-color);
}

div.alert,
div.note {
  padding: 5px;
}

.code-details div.alert,
.code-details div.note {
  font-size: 1em;
}

div.command {
  font-size: 0.75em;
  background: var(--widget-bg-color);
  padding: 2px 5px;
  margin: 0 0 20px;
}

div.requirements {
  background: var(--widget-bg-color);
  padding: 10px 10px 5px;
}

.code-details {
  margin: 0 0 20px;
}

.code-details ul {
  font-size: 0.95em;
  margin: 5px 0 0 20px;
}

.code-details ul ul {
  font-size: 1em;
}

.code-details ul li {
  margin: 0 0 15px;
}

.code-details ul ul li {
  font-size: 1em;
  margin: 0 0 10px;
}

.code-details ul li strong {
  color: var(--code-details-lineno);
  font-size: 1.05em;
  text-transform: uppercase;
}

.code-details ul ul li strong {
  color: var(--code-details-lineno);
  font-size: 1em;
  text-transform: none;
}

.code-details pre code {
  font-size: 0.85em;
}

.command code {
  color: var(--code-text-color1);
  background: var(--widget-bg-color);
  border: none;
}

.alert code,
.note code,
blockquote p code,
figcaption p code {
  border-radius: 4px;
  font-size: 0.8em;
}

blockquote p code {
  background: var(--page-bg-color);
}

.toc code {
  background: var(--page-bg-color);
}

.steps ul,
.steps ol,
.note ul {
  margin: 10px 0 10px 2.5em;
  border: none;
}

.steps ul {
  margin: 0 0 5px 1.5em;
}

.steps ul ol {
  margin: 5px 0 20px 2em;
  list-style: decimal;
}

.steps ul li:last-child ol {
  margin: 5px 0 0 2em;
}

.steps .title,
.requirements .title {
  font-size: 1em;
  font-weight: 700;
  padding: 0;
  margin: 0 0 5px;
}

div.steps {
  color: var(--magenta3);
  border: none;
  margin: 0 0 1em;
  padding: 10px 15px 10px 10px;
  font-size: 0.95em;
  background-color: var(--widget-bg-color);
  border-radius: 4px;
}

.note ul li:last-child {
  margin-bottom: 0;
}

li.guideline {
  font-size: 1.1em;
  font-weight: 700;
  font-style: normal;
}

li.guideline code {
  font-weight: 400;
  font-size: 0.7em;
}

pre {
  font-size: 0.9em;
  font-family: roboto mono, menlo;
  color: var(--body-text-color);
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: var(--widget-bg-color);
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: auto;
  line-height: 1.4;
}

pre code,
li pre code {
  display: block;
  font-size: 0.85em;
  color: var(--body-text-color);
  background-color: var(--widget-bg-color);
  padding: 0;
  white-space: pre;
}

code {
  color: var(--code-text-color1);
  border: none;
}

.post__content p code,
p code,
li code {
  font-size: 0.8em;
  background: var(--black3);
  border-radius: 4px;
  font-style: normal;
  padding: 2px 4px;
  margin: 0 1px;
  line-height: inherit;
  vertical-align: text-bottom;
}

pre.chroma {
  margin: 0;
  background-color: var(--widget-bg-color);
}

div.chroma {
  overflow: auto;
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

div.chroma .lntable pre.chroma {
  border: none;
  border-radius: 0;
}

p code.chroma {
  background-color: var(--widget-bg-color);
  padding: 1px 2px;
  white-space: pre;
}

.highlight-wrapper {
  display: block;
  margin: 2.5em 0 1em 0;
}

.highlight {
  position: relative;
  z-index: 0;
  padding: 0;
  margin: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.highlight > .chroma {
  position: static;
  z-index: 1;
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.copy-code-button {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.5px;
  width: 65px;
  color: var(--copy-code-button-text);
  background-color: var(--copy-code-button);
  border: 1.25px solid var(--widget-bg-color);
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  white-space: nowrap;
  padding: 4px 4px 5px 4px;
  margin: 0 0 0 1px;
  cursor: pointer;
  opacity: 0.6;
}

.copy-code-button:hover,
.copy-code-button:focus,
.copy-code-button:active,
.copy-code-button:active:hover {
  color: var(--copy-code-button-text-hover);
  background-color: var(--copy-code-button-hover);
  opacity: 0.8;
}

pre.chroma code {
  font-size: 0.85em;
  line-height: 1.45;
}

.chroma .lntable {
  display: table;
  width: 100%;
  padding: 0 0 5px;
}

.list-of-links {
  color: var(--link-color);
}

.chroma .lntable tr td:first-child pre {
  padding: 7px 0 7px 10px;
  margin: 0;
}

.chroma .lntable tr td:last-child pre {
  padding: 7px 10px 7px 0;
  margin: 0;
}

.chroma .lnt {
  margin: 0;
  padding: 0 7px 0 3px;
  color: #7f7f7f;
}

.chroma .lntd:first-child .hl {
  background-color: var(--dark-gray1);
  background: var(--hl-num-bg);
  background-repeat: no-repeat;
}

.chroma .hl {
  background-color: var(--dark-gray1);
  background: var(--hl-line-bg);
  background-repeat: no-repeat;
}

.chroma .hl .lnt {
  color: #ffc107;
  font-weight: 700;
}

.chroma .nc,
.chroma .nf {
  text-decoration: none;
  font-weight: 700;
}

.chroma .nn {
  text-decoration: none;
}

.chroma .n {
  color: #f2f2f2;
}

.chroma .o {
  font-weight: 700;
}

.chroma .nb,
.chroma .mi {
  font-weight: 700;
}

.language-json .err {
  color: var(--body-text-color);
  background-color: var(--widget-bg-color);
}

.chroma [data-lang]:before
{
  position: absolute;
  z-index: 0;
  top: -22px;
  left: 0px;
  content: attr(data-lang);
  font-size: 1.1em;
  color: var(--lang-name);
  background-color: var(--lang-name-bg);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 5px 10px 7px;
  line-height: 1.2;
}

blockquote {
  font-size: 0.9em;
  font-weight: 400;
  font-style: italic;
  color: var(--blockquote-text-color);
  background: var(--widget-bg-color);
  border-left: 2px solid var(--blockquote-text-color);
  padding: 5px 10px;
  margin: 0 0 1em 1em;
}

blockquote strong,
blockquote p strong,
blockquote .bold-text {
  color: var(--blockquote-text-color);
}

blockquote.rfc .bold-text,
.code-details ul li blockquote strong {
  color: var(--rfc-bold-text-color);
  text-transform: none;
}


blockquote.rfc {
  color: var(--rfc-text-color);
  font-size: 0.85em;
  font-weight: 400;
  border-left: 2px solid var(--rfc-text-color);
  padding: 5px 10px;
  margin: 0 0 1em 1em;
}

blockquote.rfc .bold-text {
  color: var(--rfc-text-color);
}

.code-details blockquote {
  margin: 0 0 1em;
}

.rfc pre {
  font-size: 1em;
  border: 0;
  padding: 0;
  margin: 1em 1em 1em 2em;
}

.defined-term {
  margin: 0.5em 0 0.5em 1em;
}

.content blockquote ul {
  margin: 0 0 0 2em;
}

.code-details blockquote code {
  color: #d8d8d8;
  background: var(--widget-bg-color);
}

.code-details blockquote p {
  font-size: 1em;
}

figure {
  text-align: center;
  display: block;
  margin: 0;
}

figure img {
  margin: auto;
}

.main__header {
  margin: 0 0 0.5em;
}

figcaption {
  text-align: center;
  color: #a9fb68;
  font-weight: 400;
  font-size: 0.9em;
  font-style: italic;
  margin: 10px 0 0;
}

.post__image figcaption {
  color: var(--body-text-color);
  font-size: 0.95em;
}

.warning {
  color: var(--off-white2);
  font-size: 1.3em;
  margin: 0;
  border: none;
  background-color: var(--widget-bg-color);
}

.warning__code {
  color: var(--pink2);
  font-size: 6em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 5px;
  margin: 0 0 10px;
}

.warning__code i {
  color: var(--pink2);
  font-size: 0.8em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 5px;
  margin: 0 10px 20px;
}

.warning__headline {
  color: var(--pink2);
  font-size: 2em;
  font-weight: 700;
  margin: 10px 0 1em;
  text-transform: uppercase;
}

.offline .warning__headline {
  margin: 10px 0;
}

:focus > .menu__btn-title {
  box-shadow: inset 0 0 1px 3px var(--widget-bg-color);
}

#social {
  display: flex;
  flex-flow: row nowrap;
  align-self: flex-start;
  margin: auto 0 auto 20px;
  flex: 0 0 auto;
}

#social a {
  font-weight: 400;
  color: #b3b3b3;
}

#social a:active,
#social a:active:hover,
#social a:focus,
#social a:hover {
  color: #f2f2f2;
  text-decoration: underline;
}

#social ul {
  font-size: 1.4em;
  list-style-type: none;
  margin: 3px 0;
  padding: 0;
  overflow: hidden;
}

#social ul li {
  float: left;
  padding: 3px 0;
}

#social ul li a {
  color: var(--home-active-link-color);
  display: block;
  text-align: center;
  text-decoration: none;
}

.meta__text,
.meta__link {
  font-size: 0.8125em;
}

#recent-posts .meta__text {
  font-size: 1.9em;
}

.meta,
.meta a {
  font-size: 1em;
  color: #7f7f7f;
}

.meta a:hover {
  color: #7f7f7f;
  text-decoration: underline;
}

.meta__icon {
  fill: #7f7f7f;
}

.post__meta {
  border: none;
  margin: 0;
  padding: 0;
}

.warning a {
  font-weight: 400;
  color: var(--link-color);
}

.warning a:hover {
  color: var(--link-color);
}

.list__header,
.main__header {
  background-color: #323232;
  margin: 0 0 10px;
  padding: 0;
}

.home .post__header {
  background-color: #323232;
  border: none;
  margin: 0;
  padding: 0;
}

.post__header {
  background-color: #323232;
  padding: 0 0 10px;
  margin: 0 0 20px;
}

.about-me .post__header {
  border: none;
}

.tutorial .post__header {
  padding: 0;
}

.tutorial .post__header .post-categories {
  margin: 10px 0;
}

.list__header {
  background-color: var(--widget-bg-color);
  margin: 0 0 7px;
}

.list__title {
  margin: 0;
}

.list__title a {
  font-size: 1.1em;
}

.article-preview .list__title a {
  font-size: 1em;
}

.list__item {
  background-color: var(--widget-bg-color);
  border: none;
  border-radius: 4px;
  padding: 15px;
  margin: 0 0 40px 0;
}

.list__item .content {
  font-size: 0.95em;
  margin: 0 0 10px 0;
}

.github-links-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 20px 0 0 0;
}

.github-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  font-size: 0.9em;
  line-height: 1;
  margin: 5px 0;
  flex: 1;
}

.github-links a,
.github-links .disabled {
  color: var(--widget-bg-color);
  background-color: var(--tut-link-color);
  border: 1px solid var(--tut-link-color);
  border-radius: 20px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  padding: 5px 7px;
  margin: 0 7px;
  min-width: 80px;
  flex: 1;
}

.github-links .disabled {
  cursor: not-allowed;
  color: var(--widget-bg-color);
  background-color: var(--accent-color2);
  border: 1px solid var(--accent-color2);
}

.github-links a:hover,
.github-links a:focus,
.github-links a:active,
.github-links a:active:hover {
  text-decoration: none;
  color: var(--tut-link-color);
  background-color: var(--widget-bg-color);

}

.github-links .fa {
  font-size: 1.3em;
  margin: 0 5px 0 0;
}

.toc__menu nav {
  padding: 0;
}

#api-tutorial ul {
  color: #ae81ff;
  margin: 10px 0 5px 20px;
}

.article-preview {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--widget-bg-color);
  border-radius: 4px;
  padding: 15px;
  margin: 0 0 20px 0;
}

.article-preview .meta__text {
  color: var(--accent-color2);
  font-size: 1.15em;
  line-height: 1.2;
  margin: 0 0 60px;
}

.article-preview .list__title {
  font-size: 1.5em;
  margin: 0;
}

.article-preview-top-flex {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 0 15px 0;
}

.article-preview .post__title-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  flex: 1 0 60%;
  min-width: 250px;
}

.article-preview-top-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 0 10px 0
}

.article-preview-top-row .post-categories {
  flex: 0 0;
}

.article-preview figure {
  border: 1px solid var(--widget-bg-color);
  flex: 0 0 30%;
  margin: 0 15px 0 0;
  min-width: 165px;
}

.article-preview-summary .date-published {
  color: var(--header-color);
  font-size: 1em;
  font-weight: 700;
  margin: 0;
}

#api-tutorial-preview .article-preview-summary .date-published {
  color: var(--teal2);
  margin: 0 5px 0 0;
}

.article-preview-summary p {
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
}

.toc__menu ul {
  list-style: disc;
  color: var(--blog-link-color);
  padding: 0;
  margin: 0 0 0 20px;
  line-height: 1.3;
}

.toc__menu ul li {
  padding: 0;
  margin: 0 0 15px 0;
  line-height: 1.3;
}

.toc__menu ul li:last-child {
  margin: 0;
}

.toc__menu ul ul {
  list-style: square;
  font-size: 0.9em;
  margin: 5px 0 0 15px;
}

.toc__menu ul li ul li {
  padding: 0;
  margin: 0 0 5px;
}

.toc__menu ul li ul li:last-child {
  margin: 0 0 10px;
}

.toc__menu ul a,
.toc__menu ul ul a {
  padding-left: 0;
}

.toc {
  border: none;
  width: auto;
  background-color: var(--widget-bg-color);
  padding: 7px 10px;
  margin: 0;
}

.toc__title {
  font-size: 1.35em;
  font-weight: 400;
  text-transform: none;
  color: #e2e2e2;
  line-height: 1.3;
  border-bottom: 1px solid var(--blog-link-color);
  border-radius: 0;
  background-color: var(--widget-bg-color);
  padding: 0 0 5px 0;
  margin: 0;
}

.toc__menu a {
  display: inline;
  font-size: 1em;
  border: none;
  padding: 0;
}

.toc__menu a {
  color: var(--blog-link-color);
}

.pagination {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  margin: auto 2em 0 0;
}

.pagination__item {
  font-weight: 700;
}

a.pagination__item,
span.pagination__item--current,
span.pagination__item--current:hover,
span.pagination__item--current:active,
span.pagination__item--current:active:hover,
span.pagination__item--current:focus {
  color: #323232;
  background: var(--link-color);
  border: 1px solid var(--link-color);
}

a.pagination__item:hover,
a.pagination__item:active,
a.pagination__item:active:hover,
a.pagination__item:focus {
  color: var(--link-color);
  background: #323232;
  border: 1px solid var(--link-color);
}

a.pagination__item--prev {
  margin: 0;
}

a.pagination__item--next {
  margin: 0;
}

.pagination__item--current {
  margin: 0 3px;
}

.flex-row,
.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-item {
  flex: 0 0 50%;
}

.about-me .content {
  margin: 0 5em 3em;
}

.fa-bullet-list {
  margin: 0 0 0 0.5em;
  padding: 0 0 10px;
}

.requirements .fa-bullet-list {
  margin: 0 0 15px 10px;
}

.requirements .fa-bullet-list:last-child {
  margin: 0 0 0 10px;
}

.fa-bullet-list p.fa-bullet-list-item {
  position: relative;
  margin: 0 0 2em 2em;
}

.fa-bullet-list p {
  position: relative;
  margin: 0 0 1em 2em;
}

.about-me .fa-bullet-list-item:last-child {
  margin: 0 0 0 2em;
}

.requirements .fa-bullet-list p.fa-bullet-list-item {
  font-size: 0.9em;
  position: relative;
  margin: 0 0 7px 20px;
}

.fa-bullet-icon {
  font-size: 24px;
  position: absolute;
  left: -50px;
  margin-top: 5px;
}

.requirements .fa-bullet-icon {
  font-size: 12px;
  position: absolute;
  left: -20px;
  margin: 3px 0 0;
}

.requirements .in-progress {
  color: var(--blue2);
}

.requirements .complete {
  color: var(--gold2);
}

.post-nav-flex-item-prev,
.post-nav-flex-item-next {
  flex: 100%;
  border: none;
  border-radius: 4px;
  padding: 10px 0;
}

.post-nav-flex-item-prev {
  margin: 0 5px 0 0;
}

.post-nav-flex-item-next {
  margin: 0 0 0 5px;
}

.title-prev,
.title-next {
  flex: 0 1 auto;
}

.post-nav .chevron-prev,
.post-nav .chevron-next {
  flex: 0 0 20px;
}

.post-nav .chevron-next {
  margin: 0 0 0 10px;
}

.post-nav .chevron-prev {
  margin: 0 10px 0 0;
}

.inner-nav-flex-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

.post-nav {
  font-size: 1.2em;
  border: none;
  margin: 0 2em 20px 0;
  padding: 10px 0 10px 0;
  background-color: var(--page-bg-color);
  border-bottom: 2px dotted var(--accent-color2);
  border-top: 2px dotted var(--accent-color2);
}

.post-nav__link,
a.post-nav__link {
  display: inline;
  color: var(--blog-link-color);
  background-color: #323232;
  border: none;
  border-radius: 4px;
}

.post-nav__link:hover,
.post-nav__link:active,
.post-nav__link:active:hover,
.post-nav__link:focus,
a.post-nav__link:hover,
a.post-nav__link:active,
a.post-nav__link:active:hover,
a.post-nav__link:focus {
  color: var(--blog-link-color);
  text-decoration: underline;
}

#header-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.05em;
  margin: 20px 0;
  padding:0;
}

#header-nav .post-nav-flex-item-prev,
#header-nav .post-nav-flex-item-next {
  flex: 0 0 100px;
  border: none;
}

#header-nav .post-nav-flex-item-prev {
  padding: 0;
  margin: 0;
}

#header-nav .post-nav-flex-item-next {
  padding: 0;
  margin: 0;
}

.post-nav-flex-item-disabled {
  visibility: hidden;
}

#header-nav .post-nav__link,
#header-nav .post-nav__link:hover,
#header-nav .post-nav__link:active,
#header-nav .post-nav__link:active:hover,
#header-nav .post-nav__link:focus,
#header-nav .post-nav__link:hover,
#header-nav .post-nav__link:active,
#header-nav .post-nav__link:active:hover,
#header-nav .post-nav__link:focus {
  display: inline;
  border-radius: 4px;
  color: var(--blog-link-color);
  text-decoration: none;
}

#header-nav .post-nav__chevron:hover,
#header-nav .post-nav__chevron:active,
#header-nav .post-nav__chevron:active:hover,
#header-nav .post-nav__chevron:focus {
  color: var(--blog-link-color);
}

#header-nav .chevron-prev {
  margin: 0 5px auto 0;
}

#header-nav .chevron-prev i.fa,
#header-nav .chevron-next i.fa {
  padding: 0;
}

#header-nav .chevron-next {
  margin: 0 0 auto 5px;
}

#header-nav .chevron-prev,
#header-nav .chevron-next {
  flex: 0 0 auto;
}

#header-nav .post-nav__post-title {
  font-size: 1.2em;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

#header-nav .post-nav__post-title:hover,
#header-nav .post-nav__post-title:active,
#header-nav .post-nav__post-title:active:hover,
#header-nav .post-nav__post-title:focus {
  color: var(--blog-link-color);
  text-decoration: underline;
}

#header-nav .title-prev,
#header-nav .title-next {
  flex: 0 0 auto;
}

#header-nav .title-prev {
  margin: 0 0 0 1px;
}

#header-nav .title-next {
  margin: 0 1px 0 0;
}

header .post-nav__link:hover,
header .post-nav__link:active,
header .post-nav__link:active:hover,
header .post-nav__link:focus,
header a.post-nav__link:hover,
header a.post-nav__link:active,
header a.post-nav__link:active:hover,
header a.post-nav__link:focus {
  color: var(--blog-link-color);
}

.post-nav__item {
  flex: none;
  max-width: none;
  padding: 0;
}

.post-nav__item--prev {
  text-align: left;
  justify-content: flex-start;
}

.post-nav__item--next {
  text-align: right;
  justify-content: flex-end;
}

.post-nav__post-title {
  display: inline;
  font-weight: 500;
  font-size: 0.9em;
}

.post-nav__chevron {
  display: inline;
  font-weight: 400;
  font-size: 1em;
  margin: auto 0;
}

.post-nav__post-title:hover {
  text-decoration: underline;
}

.post-nav__post-title:hover,
.post-nav__chevron:hover {
  color: #a9fb68;
}

.post-nav a {
  padding: 0;
}

input {
  background: #d8d8d8;
  border: 1px solid #d8d8d8;
}

.widget {
  padding: 5px 0 15px;
  margin: 0;
}

.widget__title {
  color: #e2e2e2;
  font-size: 1.45em;
  border-bottom: 1px solid var(--accent-color1);
  text-transform: none;
}

#api-tutorial {
  padding: 7px 10px;
}

#api-tutorial ul {
  color: var(--tut-link-color);
  margin: 0;
  padding: 0;
  list-style: none;
}

#api-tutorial ul li {
  margin: 0 0 10px 0;
}

#api-tutorial a,
#api-tutorial a:hover {
  color: var(--tut-link-color);
}

#api-tutorial a:hover {
  text-decoration: underline;
}

#api-tutorial .current-section {
  color: var(--body-text-color);
  font-weight: 700;
}

#categories .widget__title {
  font-size: 1.45em;
  border-bottom: 1px solid var(--accent-color1);
}

#categories a,
#categories a:hover {
  font-weight: 400;
  color: var(--link-color);
}

#api-tutorial a:hover {
  text-decoration: underline;
}

.widget__item {
  border-bottom: none;
}

.widget-categories a {
  text-transform: capitalize;
}

#search-form {
  margin: 0;
}

#widgets .search-container {
  position: relative;
  z-index: 0;
  height: 26px;
  width: 100%;
  line-height: 15px;
  padding: 0;
}

#widgets .search-container {
  height: 50px;
}

#widgets .search-inner-wrapper {
  position: absolute;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: inherit;
  height: inherit;
  margin: 0;
  top: 0;
  left: 0;
  border-radius: 4px;
}

#search-form .search-error {
  position: absolute;
  z-index: 2;
  width: inherit;
  height: 40px;
  display: flex;
  transition: all 0.5s ease-out;
  margin: 5px 0;
}

.search-error.hide-element {
  display: none;
}

.search-error-message {
  font-style: italic;
  color: var(--pink2);
  text-align: center;
  margin: auto;
  line-height: 14px;
  transition: all 0.5s ease-out;
}

#search {
  font-size: 15px;
  color: #909090;
  background-color: var(--widget-bg-color);
  border: none;
  padding: 3px;
  margin: 0;
  flex: 1 0 auto;
}

#search-form #search {
  border: 1px #909090;
  border-radius: 4px;
  margin: 0 5px 0 10px;
  outline: 0;
}

.search-container .fa {
  font-size: 1.3em;
  color: #909090;
  margin: auto 0;
}

.search-container button {
  font-size: 0.9em;
  color: #909090;
  background-color: var(--widget-bg-color);
  border: 1px solid #909090;
  border-radius: 4px;
  padding: 4px 5px;
  margin: 0 0 0 3px;
}

#search-button:hover,
#search-button:active,
#search-button:focus,
#search-button:active:hover {
  color: var(--widget-bg-color);
  background-color: #909090;
  border: 1px solid #909090;
}

.footer {
  font-size: 0.85em;
  color: #7f7f7f;
  background: #323232;
  border-top: 2px solid var(--accent-color1);
}

.footer a {
  color: var(--link-color);
}

#all-github-links table tr td {
  text-align: center;
  padding: 5px 10px 3px 10px;
  font-size: 1em;
  line-height: 1;
}

#all-github-links .fa {
  font-size: 1.2em;
}

#all-github-links .fa:hover,
#all-github-links .fa:active,
#all-github-links .fa:focus,
#all-github-links .fa:active:hover {
  color: var(--body-text-color)
}

table code {
  color: var(--off-white2);
  background-color: inherit;
}

table.tutorial thead .table-number,
table.tutorial thead .table-title {
  font-size: 0.95em;
}

table.tutorial thead th.column-header,
table.tutorial thead th.column-header:first-child,
table.tutorial thead th.column-header:last-child {
  font-size: 0.95em;
  vertical-align: bottom;
}

table.tutorial thead th.column-header sup,
table.tutorial tbody td sup,
table.tutorial tfoot td sup {
  font-size: 0.8em;
}

table.tutorial tbody td {
  font-size: 0.875em;
}

table.tutorial code {
  font-size: 0.875em;
}

table.tutorial tbody td,
table.tutorial thead th.column-header {
  padding: 3px 5px;
}

table.tutorial tbody td:first-child,
table.tutorial thead th.column-header:first-child {
  padding: 3px 3px 3px 5px;
}

table.tutorial tbody td:last-child,
table.tutorial thead th.column-header:last-child {
  padding: 3px 5px 3px 3px;
}

table tfoot td p:first-child {
  margin: 0;
}

table tfoot td p {
  margin: 0 0 3px 9px;
}

table.tutorial tfoot code {
  color: var(--code-text-color1);
  background-color: var(--page-bg-color);
  padding: 0;
}

.tutorial .table-wrapper {
  margin: 0 auto 1em;
}

.tutorial tr:first-child td.table-footer {
  padding: 10px 0 5px;
}

.tutorial tr td.table-footer {
  font-weight: 400;
  padding: 0 0 5px;
}

.table-wrapper {
  font-size: 0.95em;
  line-height: 1.2;
  width: 100%;
  margin: 0 auto 2em;
  padding: 0;
  white-space: nowrap;
}

ul .table-wrapper {
  margin: 1em auto;
}

.responsive {
  overflow-x: auto;
  overflow-y: hidden;
  width: auto;
  margin: auto;
  padding: 0 0 5px;
}

.responsive table {
  width: auto;
  table-layout: auto;
  border: none;
  color: #d8d8d8;
  background-color: #323232;
  margin: 0 auto;
}

.responsive th {
  font-weight: 700;
  border: none;
  background-color: #323232;
  color: #d8d8d8;
}

.responsive tbody th {
  color: #d8d8d8;
  font-size: 0.8em;
  font-weight: 400;
}

.responsive tbody td {
  color: #d8d8d8;
  border: 1px solid var(--accent-color1);
}

.responsive tfoot {
  padding-top: 10px;
}

.responsive table a {
  color: var(--link-color);
  font-weight: 500;
}

.responsive .site-type,
.table-wrapper .aws-hosting-costs tbody th.site-type {
  border-left: none;
  border-right: none;
  border-bottom: 3px solid #7f7f7f;
}

.table-wrapper .aws-hosting-costs tbody .has-bottom-border-heavy {
  border-bottom: 3px solid #7f7f7f;
}

th.column-header,
.responsive thead tr th {
  background-color: var(--accent-color1);
  color: #323232;
  line-height: 0.8;
  border: 1px solid var(--accent-color1);
  vertical-align: middle;
  text-align: center;
}

th.first-column,
.responsive td.first-column,
.responsive tbody tr td:first-child,
.responsive thead tr th:first-child {
  border-left: 1px solid var(--accent-color1);
  padding: 5px 5px 5px 8px;
  vertical-align: middle;
}

.responsive tbody tr th:first-child {
  border-left: none;
}

th.last-column,
.responsive td.last-column,
.responsive tbody tr td:last-child,
.responsive thead tr th:last-child {
  border-right: 1px solid var(--accent-color1);
  padding: 5px 8px 5px 5px;
  vertical-align: middle;
}

.responsive td.last-row,
.responsive tbody tr:last-child td {
  border-bottom: 1px solid var(--accent-color1);
}

.responsive td.table-footer {
  line-height: 1.3;
}

.table-wrapper thead td {
  font-size: 0.85em;
  font-weight: 400;
}

.table-wrapper tfoot td {
  font-size: 0.8em;
  font-weight: 300;
}

.table-wrapper thead td,
.table-wrapper tfoot td {
  background-color: #323232;
  color: #d8d8d8;
  border: none;
  padding: 5px;
  text-align: left;
}

.table-wrapper tfoot a {
  font-weight: 400;
}

.table-wrapper thead .table-title {
  font-style: italic;
  padding-bottom: 10px;
}

.table-wrapper thead .table-number,
.table-wrapper thead .table-title {
  color: #a9fb68;
  font-size: 0.9em;
  font-weight: 400;
}

.table-wrapper tbody td {
  border: none;
  padding: 5px 8px;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
}

.table-wrapper .aws-hosting-costs tbody td {
  border-bottom: 1px solid #7f7f7f;
}

.table-wrapper .aws-hosting-costs thead th {
  border: none;
}

.table-wrapper .aws-hosting-costs tbody th {
  background-color: #323232;
  color: #d8d8d8;
  border-bottom: none;
  border-top: 1px solid #7f7f7f;
  border-left: 1px solid #7f7f7f;
}

.table-wrapper .aws-hosting-costs .pricing-model {
  border-bottom: none;
}

.table-wrapper .aws-hosting-costs tbody td {
  text-align: right;
}

.table-wrapper .aws-hosting-costs tbody td.first-column {
  border-left: 1px solid var(--accent-color1);
}

.table-wrapper .aws-hosting-costs tbody td.last-column {
  border-right: 1px solid var(--accent-color1);
}

.table-wrapper .aws-hosting-costs tbody td.last-row {
  border-bottom: 1px solid var(--accent-color1);
}

.table-wrapper .aws-hosting-costs tbody td.common-config {
  border-left: 1px solid #7f7f7f;
}

.responsive .sub-heading {
  font-size: 0.85em;
}

.responsive .numeric {
  text-align: right;
}

tr:nth-child(even) {
  background-color: var(--widget-bg-color);
}

tr:nth-child(odd) {
  background-color: #323232;
}

.pricing-table-1 {
  min-width: 650px;
  width: 100%;
}

table.aws-hosting-costs {
  margin-bottom: 1em;
}

.accordion-wrapper {
  margin: 0 0 20px;
}

.accordion:first-child section {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.accordion:last-child section {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.accordion section {
  background-color: var(--accordion-content-bg-color);
  overflow: hidden;
}

.accordion section.ac_hidden {
  height: 40px;
}

.accordion section h2 {
  color: var(--accordion-header-text-color);
  background-color: var(--accordion-header-bg-color);
  font-size: 1.2em;
  line-height: 1;
  margin: auto 0;
  padding: 11px 5px;
  cursor: pointer;
}

.accordion section:not(.ac_hidden) h2,
.accordion section:not(.ac_hidden) .pointer {
  color: var(--accordion-header-toggled-text-color);
  background-color: var(--accordion-header-toggled-bg-color);
  font-weight: 700;
}

.accordion .pointer {
  color: var(--accordion-header-text-color);
  font-weight: 700;
  font-size: 0.72727em;
  margin: auto 10px auto 7px;
}

.accordion section:not(.ac_hidden) .pointer {
  transform: rotate(90deg);
}

.accordion-content {
  font-size: 1.1em;
  background-color: var(--accordion-content-bg-color);
  padding: 10px;
}

.accordion section:not(.ac_hidden) .accordion-content {
  border-bottom: 1px solid var(--accordion-header-toggled-bg-color);
}

.accordion:last-child section:not(.ac_hidden) .accordion-content {
  border: none;
}

.accordion-content a {
  color: var(--accordion-content-link-color);
}

#project-repo {
  padding: 7px 10px;
}

#project-repo .message {
  margin: 5px 0;
}

#project-repo ul a {
  font-weight: 400;
}

#project-repo ul {
  color: var(--tut-link-color);
  margin: 0 0 0 25px;
}

#project-repo ul li {
  margin: 0 0 5px;
}

#project-repo ul li:last-child {
  margin: 0 0 5px;
}

#menu {
  display: flex;
  flex-flow: row nowrap;
}

#search {
  color: var(--header-link-color1);
  background-color: var(--widget-bg-color);
  font-size: 1em;
}

.search-container .fa {
  font-size: 1em;
  margin: auto 5px auto 2px;
}

#search-button {
  display: none;
}

.site-menu a {
  font-size: 1.2em;
  padding: 9px;
  margin: 0 8px;
}

header,
#menu {
  color: var(--header-link-color1);
  background-color: var(--header-bg-color);
}

.menu-bar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  padding: 0 0 0 30px;
}

.site-name {
  margin: auto 0;
  text-align: center;
}

.menu-bar {
  flex: 0 1 45%;
}

.site-menu {
  flex: 1 1 45%;
}

.menu-bar,
.site-menu {
  line-height: 1.3;
  white-space: nowrap;
}

#menu a {
  color: var(--nav-link-color);
  text-decoration: none;
  border: 1px solid var(--header-bg-color);
}

#menu a:hover,
#menu a:focus {
  color: var(--nav-hover-link-color);
}

#menu #home.active {
  color: var(--home-active-link-color);
}

#menu #blog.active {
  color: var(--blog-active-link-color);
}

#menu #tutorials.active {
  color: var(--tutorials-active-link-color);
}

#menu #about.active {
  color: var(--about-active-link-color);
}

#menu .site-name-link {
  color: var(--home-active-link-color);
  border: none;
  text-decoration: none;
  margin: auto 0;
}

#site-name {
  font-size: 18px;
}

.site-social {
  display: flex;
  flex-flow: column nowrap;
  margin: auto 0;
}

.site-name,
.site-menu {
  letter-spacing: 0.4px;
}

.site-social ul,
.site-menu,
#sourcerer-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.9em;
  list-style: none;
  padding: 0 30px 0 0;
  margin: 0;
  overflow: hidden;
}

.site-social ul li {
  float: left;
  white-space: nowrap;
}

.site-social a {
  padding: 0 6px;
}

.site-social a,
.site-menu a {
  display: block;
  text-align: center;
  text-transform: lowercase;
  text-decoration: none;
}

.divider {
  height: 0;
  margin: 0;
  background: var(--site-bg-color);
  border: 0;
}

.home {
  font-size: 10px;
}

.home .post {
  margin: 0 auto;
  max-width: 750px;
}

.home header {
  margin: 0;
}

.home .content {
  margin: var(--no-margin);
}

.home h1 {
  color: var(--home-title-color);
  font-size: 2.9em;
  margin: 0 0 10px;
}

.home header p {
  font-size: 2.2em;
  font-weight: 500;
  color: var(--home-lead-color);
  font-style: normal;
  margin: 0 0 20px;
}

.home p {
  color: var(--home-p-color);
  font-size: 1.7em;
  line-height: 1.6;
}

.home hr {
  border: 2px dotted var(--home-hr-color);
  margin: var(--top-bottom-10);
}

#recent-posts-wrapper,
#featured-projects-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  max-width: 875px;
  margin: 0 auto;
}

#recent-posts-wrapper {
  margin: 40px 0 0 0;
  padding: 0 0 20px 0;
  border-top: 2px dotted var(--home-hr-color);
  border-bottom: 2px dotted var(--home-hr-color);
}

#featured-projects-wrapper {
  margin: 0 auto 15px auto;
}

#recent-posts-wrapper h4,
#featured-projects-wrapper h4 {
  color: var(--home-h4-color);
  font-size: 2.5em;
  text-transform: lowercase;
  margin: 25px auto 10px auto;
}

#recent-posts,
#featured-projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: var(--page-bg-color);
}

.recent-post,
.github-repo {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 1 45%;
  background-color: var(--home-card-bg-color);
  margin: 10px;
  padding: 15px;
  border: 1px solid var(--home-card-bg-color);
  border-radius: 4px;
}

.list__meta {
  margin: 7px 0;
}

.date-categories-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 10px 0;
  line-height: 1.4;
}

.list__header .post-meta-date {
  margin: 0 0 3px;
}


.post__header .post-meta-date .meta__text {
  font-size: 1.1em;
}

.list__header .post-meta-date .meta__text {
  font-size: 1.25em;
  color: var(--list-header-date-color);
  margin: 0;
}

.post__header .post-meta-date {
  flex: 1 0 10%;
  align-self: center;
  white-space: nowrap;
}

.recent-post figure {
  margin: 0 0 15px 0;
}

.recent-post .post-meta-date {
  margin: 0 0 5px 0;
}

.recent-post .post-title {
  display: block;
  font-size: 2.2em;
  line-height: 1.3;
  margin: 0 0 auto 0;
}

.post-categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  margin: 0;
  padding: 0;
  background-color: var(--widget-bg-color);
}

.recent-post .post-categories {
  justify-content: flex-start;
  margin: 15px 0 0 0;
}

.article-preview .post-categories {
  flex: 0 0 auto;
  margin: 10px 0 0 0;
}

.post__header .post-categories {
  flex: 0 1 0;
  align-self: center;
  flex-flow: row nowrap;
  justify-content: flex-start;
  white-space: nowrap;
  background-color: var(--page-bg-color);
  margin: 10px 0;
}

a.post-category,
.category-list-header span  {
  --cat-color: var(--accent-color2);
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  text-transform: lowercase;
  color: var(--black2);
  background-color: var(--cat-color);
  border: 1px solid var(--cat-color);
  border-radius: 4px;
  margin: 3px 10px 3px 0;
  padding: 2px 7px;
  white-space: nowrap;
}

.post__header a.post-category {
  padding: 2px 4px;
  font-size: 14px;
}

.article-preview a.post-category {
  margin: 0 10px 0 0;
}

#widgets a.post-category {
  font-size: 16px;
  border: 2px solid var(--cat-color);
  flex: 1 0 40%;
  min-width: 115px;
  margin: 4px;
}

.category-list-header {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 0 20px 0;
}

.category-list-header span {
  color: var(--black2);
  font-size: 1.3em;
  line-height: 1.2;
  margin: 0 10px 0 0;
  padding: 6px 12px;
}

a.post-category:hover,
a.post-category:focus,
a.post-category:active,
a.post-category:active:hover {
  color: var(--cat-color);
  background-color: var(--black2);
  text-decoration: none;
  font-weight: 700;
}

.post__header a.post-category:hover,
.post__header a.post-category:focus,
.post__header a.post-category:active,
.post__header a.post-category:active:hover {
  background-color: var(--page-bg-color);
}

a.python,
span.python {
  --cat-color: var(--python);
}

a.devops,
span.devops {
  --cat-color: var(--devops);
}

a.aws,
span.aws {
  --cat-color: var(--aws);
}

a.hugo,
span.hugo {
  --cat-color: var(--hugo);
}

a.javascript,
span.javascript {
  --cat-color: var(--javascript);
}

a.dotnet,
span.dotnet {
  --cat-color: var(--dotnet);
}

a.linux,
span.linux {
  --cat-color: var(--linux);
}

a.flask,
span.flask {
  --cat-color: var(--flask);
}

a.virtualization,
span.virtualization {
  --cat-color: var(--virtualization);
}

a.tutorial-series,
span.tutorial-series {
  --cat-color: var(--tutorial-series);
}

a.svelte,
span.svelte {
  --cat-color: var(--svelte);
}

#home-blog-link,
#view-on-github-link {
  font-size: 2.5em;
  color: var(--link-color);
  padding: 5px 7px;
  margin: 15px auto 5px auto;
  line-height: 16px;
  text-transform: lowercase;
}

#home-blog-link:hover,
.recent-post a.post-category:hover {
  text-decoration: none;
}

#home-blog-link .fa,
#view-on-github-link .fa {
  font-size: 0.8em;
  margin: 0 0 3px 3px;
}

.repo-top,
.repo-bottom {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  line-height: 1.2;
}

.repo-top {
  font-size: 1.8em;
  margin: 0 0 5px 0;
  line-height: 1.2;
}

.repo-top .fa {
  font-size: 24px;
}

.repo-top .fa:hover,
.repo-top .fa:active,
.repo-top .fa:focus,
.repo-top .fa:active:hover {
  color: var(--white2);
}

.repo-middle {
  font-size: 1.6em;
  line-height: 1.4;
  margin: 3px 0 auto 0;
}

.repo-bottom {
  margin: 10px 0 0 0;
}

.repo-bottom .fa {
  font-size: 17px;
}

.language-name {
  display: inline-block;
  font-size: 16px;
}

.repo-stats-wrapper,
.repo-stats {
  display: flex;
  flex-flow: row nowrap;
  line-height: 16px;
}

.repo-stats {
  font-size: 17px;
  margin: 0 3px;
}

.repo-language .fa {
  font-size: 17px;
  margin: 0 7px 0 0;
}

.repo-stats .fa {
  margin: 0 5px;
}

.search-results {
  flex: 1 0 67%;
  margin: 0 0 40px 0;
}

.search-query {
  color: #b3b3b3;
  font-size: 1.8em;
  line-height: 1.2;
  margin: 0 0 10px 0;
}

.search-results ul {
  list-style: none;
  margin: 0 2em 0 0;
}

.search-results p {
  line-height: 1.4;
}

#search-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin: 0 2em 30px 0;
}

#query {
  color: #f2f2f2;
  margin: 0 0 0 5px;
}

#search-header .button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;;
  color: #323232;
  background-color: var(--pink2);
  border: 1px solid var(--pink2);
  border-radius: 4px;
  line-height: 16px;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  max-width: 180px;
  text-align: center;
}

#search-header .button:hover,
#search-header .button:active,
#search-header .button:focus,
#search-header .button:active:hover {
  color: var(--pink2);
  background-color: #323232;
  border: 1px solid var(--pink2);
  text-decoration: none;
}

.fade {
  -webkit-animation: fade 4s;
  animation: fade 4s;
  -moz-animation: fade 4s;
  -o-animation: fade 4s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-moz-keyframes fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@-o-keyframes fade {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.comments {
  margin: 1.5em 2em 1.5em 0;
  padding: 0 1em 0 0.5em;
  background-color: var(--comments-bg);
  border-radius: 4px;
  border: 1px solid var(--comments-border);
}

.cs-embed {
  height: 500px;
  overflow: hidden;
}

.cs-embed-wrapper {
  margin: 20px 0;
  padding: 3px;
  overflow: hidden;
  background-color: var(--black2);
  border: 2px solid var(--accent-color2);
  border-radius: 4px;
}

.cs-embed-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.cs-embed-buttons a {
  margin: 0 10px;
}

/* RFC Table */

blockquote table {
  width: auto;
  margin: 0 auto 15px auto;
}

blockquote code {
  color: var(--blockquote-code-text-color);
}

blockquote tr:nth-child(even),
blockquote tr:nth-child(odd) {
  background-color: var(--widget-bg-color);
}

blockquote td {
  border: 1px solid var(--mid-gray1);
}

@media screen and (max-width: 960px) {
  .article-preview .post__title-wrapper {
    font-size: 0.9em;
  }
  .article-preview a.post-category {
    margin: 2px 8px 2px 0;
    padding: 2px 8px;
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  .blog-list .article-preview .post__title-wrapper {
    font-size: 0.825em;
  }
}

@media screen and (max-width: 767px) {
  .content .header-text a.hanchor-top {
    margin: 2px 0 0 6px;
    text-align: right;
  }
  .hanchor-text {
    display: none;
  }
  .blog-list .article-preview .post__title-wrapper,
  .tutorial .article-preview .post__title-wrapper {
    font-size: 1em;
  }
  .article-preview a.post-category {
    padding: 2px 7px;
    font-size: 15px;
  }
  .pagination {
    justify-content: center;
  }
  .search-results {
    margin: 0 0 40px 0;
  }
  #search-header {
    margin: 0 0 30px 0;
  }
  .search-results ul {
    margin: 0;
  }

  main {
    margin: 0;
  }

  .post-nav-flex-item-prev,
  .post-nav-flex-item-next {
    flex: 100%;
  }

  .home h1 {
    font-size: 2.8em;
  }

  .home header p {
    font-size: 2em;
  }

  main.home {
    margin: 0 auto;
  }

  .home .post {
    margin: 0 0 40px 0;
  }

  #recent-posts-wrapper,
  #featured-projects-wrapper {
    margin: 20px auto 0 auto;
    padding: 20px auto 0 auto;
  }

  #recent-posts-wrapper h4,
  #featured-projects-wrapper h4 {
    margin: 20px auto 10px;
  }

  #recent-posts,
  #featured-projects {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  #recent-posts .meta__text {
    font-size: 1.9em;
  }

  .recent-post .post-title {
    font-size: 2.4em;
  }

  .recent-post,
  .recent-post:first-child,
  .recent-post:last-child,
  .github-repo,
  .github-repo:first-child,
  .github-repo:last-child {
    width: 80%;
    margin: 10px auto;
  }


  .wrapper {
    padding: 30px 20px 0 20px;
  }

  .primary {
    margin: 0;
  }

  .about-me .post {
    margin: 0 0 1.25rem;
    padding: 0 0 1.25rem;
  }

  .main__header h1 {
    font-size: 1.7em;
  }

  h1.post__title {
    font-size: 1.6rem;
  }

  #toc-header {
    display: block;
    font-size: 1em;
  }

  .post-nav__post-title {
    font-weight: 500;
    font-size: 1em;
    margin: auto 0;
  }

  #header-nav .post-nav__post-title {
    font-size: 1.2em;
  }

  .post-nav .post-nav__item--next {
    padding: 15px 0 0 0;
  }

  .post-nav .post-nav__item--prev {
    padding: 0;
  }

  .post-nav__chevron {
    font-weight: 500;
  }

  #widgets {
    margin: 0 0 40px 0;
    padding: 40px 0 0 0;
    border-top: 2px dotted var(--accent-color2);
  }

  #widgets a.post-category {
    font-size: 18px;
  }

  .sidebar {
    margin: 0;
  }

  .comments {
    margin: 0 0 40px 0;
  }

  .pagination {
    margin: 0 0 40px 0;
    justify-content: center;
  }

  .about-me .content {
    margin: 0 0.5em 0 1em;
  }

  h1 {
    font-size: 1.4em;
  }

  .about-me h1 {
    font-size: 1.6em;
    font-weight: 500;
  }

  .content ol li ul,
  .content ul li ul {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .list__title {
    font-size: 1.2em;
  }

  .meta__item {
    display: inline;
    margin-left: 15px;
  }

  .main__header h1 {
    font-size: 1.25rem;
  }

  .flex-row {
    justify-content: center;
  }

  .flex-item {
    flex: 100%;
  }

  .post-nav {
    margin: 0 0 40px 0;
  }

  #menu {
    min-height: 30px;
  }

  .menu-bar {
    padding: 0 0 0 25px;
  }

  #site-name {
    font-size: 1.2em;
  }

  #social ul {
    font-size: 1.2em;
  }

  .site-menu {
    margin: 0;
    padding: 0 25px 0 0;
  }

  .site-menu a {
    font-size: 0.95em;
    padding: 5px 5px 8px 5px;
    margin: 5px 5px 0;
  }
}

@media screen and (max-width: 640px) {
  .tutorial .article-preview .post__title-wrapper {
    font-size: 0.95em;
  }
  .blog-list .article-preview .post__title-wrapper {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 650px) {
  #site-name {
    font-size: 1em;
  }

  #social {
    margin: auto 0 auto 10px;
  }

  #social ul {
    font-size: 1em;
  }

  #social ul li a {
    padding: 0 5px;
  }

  .site-menu a {
    font-size: 0.95em;
  }

  .site-menu a {
    padding: 8px 5px;
    margin: 0 3px;
  }
}

@media screen and (max-width: 600px) {
  .blog-list .article-preview .post__title-wrapper,
  .tutorial .article-preview .post__title-wrapper {
    font-size: 0.85em;
  }
}

@media screen and (max-width: 560px) {
  .tutorial .article-preview .post__title-wrapper {
    font-size: 0.85em;
  }
  .blog-list .article-preview .post__title-wrapper {
    font-size: 0.8em;
  }
  .article-preview a.post-category {
    margin: 2px 8px 2px 0;
    padding: 2px 4px;
    font-size: 14px;
  }
}

@media screen and (max-width: 525px) {
  .site-social a {
    padding: 0 5px;
  }
  .site-menu a {
    margin: 5px 2px 0;
  }

  #menu {
    flex-flow: column nowrap;
  }

  #site-name {
    font-size: 1.4em;
    flex: 1 0 45%;
  }

  .site-menu {
    font-size: 1em;
    justify-content: space-between;
    padding: 3px 1em 0;
  }

  .menu-bar {
    padding: 5px 1em 0;
    justify-content: space-between;
  }

  .site-menu a {
    font-size: 1.1em;
    padding: 5px 10px 10px;
    margin: 0 3px;
  }

  #social {
    margin: auto;
    flex: 1 0 45%;
    justify-content: center;
  }

  #social ul {
    font-size: 1.5em;
  }

  #social ul li {
    margin: 0 2px;
  }

  main.home {
    width: 100%;
  }
  .recent-post,
  .recent-post:first-child,
  .recent-post:last-child,
  .github-repo,
  .github-repo:first-child,
  .github-repo:last-child {
    width: 90%;
  }
  .post-nav .post-nav-flex-item-prev,
  .post-nav .post-nav-flex-item-next {
    flex: 1 0 100%;
  }
  #search-header .button {
    font-size: 15px;
    line-height: 15px;
    padding: 8px;
    max-width: 165px;
  }
  .article-preview {
    max-width: 440px;
    padding: 20px;
    margin: 0 auto 40px auto;
  }
  .article-preview-top-flex {
    flex-flow: column nowrap;
  }
  .article-preview .meta__text {
    font-size: 1.3em;
  }
  .article-preview figure {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .blog-list .article-preview .post__title-wrapper,
  .tutorial .article-preview .post__title-wrapper {
    font-size: 1.05em;
  }
  .article-preview a.post-category {
    margin: 3px 10px 3px 0;
    padding: 2px 7px;
    font-size: 18px;
  }
  .article-preview-summary p {
    font-size: 1.2em;
  }
}

/* @media screen and (max-width: 400px) {
  .article-preview .post__title-wrapper {
    font-size: 0.8em;
  }
  .article-preview figure {
    min-width: 100px;
  }
} */

@media screen and (max-width: 350px) {
  #site-name {
    font-size: 1.25em;
  }

  #social ul {
    font-size: 1.25em;
  }

  .site-menu a {
    font-size: 1em;
    padding: 3px 5px;

  }
}
