@font-face {
  font-family: "FontAwesome";
  src: url(/fonts/fontawesome-webfont-subset.woff2) format("woff2"),
    url(/fonts/fontawesome-webfont-subset.woff) format("woff"),
    url(/fonts/fontawesome-webfont-subset.ttf) format("truetype");
  /* unicode-range: U+F002, U+F005, U+F040, U+F053, U+F054, U+F062, U+F071, U+F099, U+F09B,
    U+F0C1, U+F0D8, U+F0E0, U+F0E1, U+F0ED, U+F111, U+F11C, U+F121, U+F126, U+F178, U+F1CB,
    U+F2B5; */
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/Roboto-Bold-subset.woff2) format("woff2"),
    url(/fonts/Roboto-Bold-subset.woff) format("woff"),
    url(/fonts/Roboto-Bold-subset.ttf) format("truetype");
  unicode-range: U+A, U+20-23, U+27-29, U+2B-3A, U+3D, U+3F, U+41-5A, U+61-7A, U+A9,
    U+2013, U+2014, U+2018, U+2019, U+201C, U+201D;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/Roboto-BoldItalic-subset.woff2) format("woff2"),
    url(/fonts/Roboto-BoldItalic-subset.woff) format("woff"),
    url(/fonts/Roboto-BoldItalic-subset.ttf) format("truetype");
  unicode-range: U+A, U+20-23, U+27-29, U+2B-3A, U+3D, U+3F, U+41-5A, U+61-7A, U+A9,
    U+2013, U+2014, U+2018, U+2019, U+201C, U+201D;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/Roboto-Italic-subset.woff2) format("woff2"),
    url(/fonts/Roboto-Italic-subset.woff) format("woff"),
    url(/fonts/Roboto-Italic-subset.ttf) format("truetype");
  unicode-range: U+A, U+20-23, U+27-29, U+2B-3A, U+3D, U+3F, U+41-5A, U+61-7A, U+A9,
    U+2013, U+2014, U+2018, U+2019, U+201C, U+201D;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/Roboto-Light-subset.woff2) format("woff2"),
    url(/fonts/Roboto-Light-subset.woff) format("woff"),
    url(/fonts/Roboto-Light-subset.ttf) format("truetype");
  unicode-range: U+A, U+20-23, U+27-29, U+2B-3A, U+3D, U+3F, U+41-5A, U+61-7A, U+A9,
    U+2013, U+2014, U+2018, U+2019, U+201C, U+201D;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/Roboto-LightItalic-subset.woff2) format("woff2"),
    url(/fonts/Roboto-LightItalic-subset.woff) format("woff"),
    url(/fonts/Roboto-LightItalic-subset.ttf) format("truetype");
  unicode-range: U+A, U+20-23, U+27-29, U+2B-3A, U+3D, U+3F, U+41-5A, U+61-7A, U+A9,
    U+2013, U+2014, U+2018, U+2019, U+201C, U+201D;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Roboto-Regular-subset.woff2) format("woff2"),
    url(/fonts/Roboto-Regular-subset.woff) format("woff"),
    url(/fonts/Roboto-Regular-subset.ttf) format("truetype");
  unicode-range: U+A, U+20-23, U+27-29, U+2B-3A, U+3D, U+3F, U+41-5A, U+61-7A, U+A9,
    U+2013, U+2014, U+2018, U+2019, U+201C, U+201D;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  src: url(/fonts/Raleway-Medium-subset.woff2) format("woff2"),
    url(/fonts/Raleway-Medium-subset.woff) format("woff"),
    url(/fonts/Raleway-Medium-subset.ttf) format("truetype");
  unicode-range: U+20, U+2C-2E, U+3A, U+3F, U+41-4A, U+4C-50, U+52-55, U+57, U+59, U+61-6A,
    U+6C-79;
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/RobotoMono-Bold-subset.woff2) format("woff2"),
    url(/fonts/RobotoMono-Bold-subset.woff) format("woff"),
    url(/fonts/RobotoMono-Bold-subset.ttf) format("truetype");
  unicode-range: U+A, U+20-59, U+5B-5D, U+5F-7D, U+BB, U+2026, U+2192;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/RobotoMono-Regular-subset.woff2) format("woff2"),
    url(/fonts/RobotoMono-Regular-subset.woff) format("woff"),
    url(/fonts/RobotoMono-Regular-subset.ttf) format("truetype");
  unicode-range: U+A, U+20-59, U+5B-5D, U+5F-7D, U+BB, U+2026, U+2192;
  font-display: swap;
}
