:root {
  /* Color Pallette */
  --black0: hsl(0, 0%, 6%);
  --black1: hsl(0, 0%, 10%);
  --black2: hsl(240, 4%, 14%);
  --black3: hsl(0, 0%, 16%);
  --dark-gray1: hsl(0, 0%, 20%);
  --dark-gray2: hsl(0, 0%, 27%);
  --mid-gray1: hsl(0, 0%, 40%);
  --mid-gray2: hsl(0, 0%, 50%);
  --light-gray1: hsl(0, 0%, 56%);
  --light-gray2: hsl(0, 0%, 70%);
  --off-white1: hsl(0, 0%, 77%);
  --off-white2: hsl(0, 0%, 85%);
  --white1: #e3e3e3;
  --white2: hsl(0, 0%, 95%);
  --teal1: hsl(171, 100%, 33%);
  --teal2: hsl(171, 100%, 53%);
  --blue1: hsl(206, 100%, 57%);
  --blue2: hsl(206, 100%, 72%);
  --blue3: hsl(206, 100%, 67%);
  --blue4: hsl(206, 100%, 38%);
  --green1: hsl(93, 100%, 35%);
  --green2: hsl(93, 100%, 60%);
  --green3: hsl(93, 100%, 70%);
  --green4: hsl(133, 100%, 42%);
  --purple1: hsl(261, 100%, 45%);
  --purple1-hov: hsl(261, 100%, 35%);
  --purple2: hsl(261, 100%, 57%);
  --purple3: hsl(261, 100%, 72%);
  --orange1: hsl(32, 100%, 40%);
  --orange2: hsl(32, 100%, 56%);
  --orange3: hsl(31, 100%, 63%);
  --orange4: hsl(31, 100%, 73%);
  --gold1: hsl(45, 100%, 40%);
  --gold2: hsl(45, 100%, 68%);
  --gold3: hsl(39, 71%, 65%);
  --pink1: hsl(338, 100%, 40%);
  --pink2: hsl(338, 100%, 56%);
  --pink3: hsl(342, 100%, 64%);
  --red1: hsl(2, 100%, 35%);
  --red2: hsl(357, 100%, 45%);
  --red3: hsl(9, 100%, 55%);
  --magenta1: hsl(301, 100%, 41%);
  --magenta2: hsl(301, 100%, 51%);
  --magenta3: hsl(301, 100%, 71%);
  --yellow1: hsl(59, 100%, 32%);
  --yellow2: hsl(59, 100%, 55%);

  /* Theme Colors */
  --site-bg-color: var(--dark-gray1);
  --header-bg-color: var(--black0);
  --page-bg-color: var(--black2);
  --body-text-color: var(--off-white2);
  --header-color: var(--white2);
  --header-anchor-link: var(--mid-gray1);
  --header-anchor-link-hover: var(--off-white1);
  --widget-bg-color: var(--black0);
  --new-link-color: var(--purple1);
  --new-link-color-hover: var(--purple1-hov);
  --link-color: var(--blue2);
  --header-link-color1: var(--light-gray2);
  --header-link-color2: var(--white2);
  --search-color: var(--mid-gray1);
  --accent-color1: var(--blue2);
  --accent-color2: var(--mid-gray2);
  --code-text-color1: var(--teal2);
  --code-text-color2: var(--off-white1);
  --blockquote-text-color: var(--green3);
  --rfc-text-color: var(--blue1);
  --rfc-bold-text-color: var(--blue2);
  --blockquote-code-text-color: var(--body-text-color);
  --code-details-lineno: var(--white2);

  /* Drop Shadow */
  --outer-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 3px 20px rgba(0, 0, 0, 0.3);
  --inner-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3);

  /* Spacing */
  --no-margin: 0;
  --top-bot-margin-10: 10px 0;

  /* Padding */
  --bot-padding-10: 0 0 10px 0;

  /* Top Nav Menu */
  --nav-link-color: var(--light-gray1);
  --nav-hover-link-color: var(--white2);
  --home-active-link-color: var(--white2);
  --blog-active-link-color: var(--white2);
  --projects-active-link-color: var(--white2);
  --tutorials-active-link-color: var(--white2);
  --about-active-link-color: var(--white2);

  /* Home Page */
  --home-title-color: var(--header-color);
  --home-lead-color: var(--light-gray2);
  --home-p-color: var(--body-text-color);
  --home-hr-color: var(--accent-color2);
  --home-h4-color: var(--header-color);
  --home-recent-post-date-color: var(--header-color);
  --home-card-bg-color: var(--widget-bg-color);

  /* /blog */
  --list-header-date-color: var(--header-color);

  /* Categories */
  --cat-color-h: 0;
  --cat-color-s: 100%;
  --cat-color-l: 50%;
  --cat-color-dim-adjust: 0.6;

  --aws-color-h: 261;
  --devops-color-h: 301;
  --dotnet-color-h: 31;
  --flask-color-h: 9;
  --hugo-color-h: 171;
  --javascript-color-h: 45;
  --tutorial-series-color-h: 342;
  --linux-color-h: 59;
  --python-color-h: 138;
  --virtualization-color-h: 171;
  --svelte-color-h: 206;
  --nodejs-color-h: 305;
  --my-projects-color-h: 19;
  --web-scraping-color-h: 224;

  /* Section: Blog Posts */
  --blog-link-color: var(--accent-color1);

  /* Section: Tutorial */
  --tut-link-color: var(--accent-color1);
  --tut-requirements: var(--body-text-color);

  /* Comments */
  --comments-bg: var(--widget-bg-color);
  --comments-border: #38383d;

  /* Syntax Highlighting */
  --chroma-border-color: var(--dark-gray2);
  --lang-name: var(---code-text-color2);
  --lang-name-bg: var(--black0);
  --copy-code-button: var(--dark-gray2);
  --copy-code-button-hover: var(--off-white2);
  --copy-code-button-text: var(--black0);
  --copy-code-button-text-hover: var(--black0);
  --hl-num-bg: linear-gradient(to right, var(--black3), var(--black3));
  --hl-line-bg: linear-gradient(to right, var(--black3), var(--black2), var(--black0), rgba(0, 0, 0, 0));

  /* Command-line/Python REPL */
  --cmd-lineno: var(--light-gray2);
  --cmd-lineno-hl: var(--gold1);
  --cmd-prompt: var(--mid-gray2);
  --cmd-prompt-venv: var(--purple3);
  --cmd-input: var(--green3);
  --cmd-results: var(--off-white2);
  --cmd-comments: var(--blue3);
  --cmd-repl-prompt: var(--blue3);
  --cmd-repl-comment: var(--mid-gray2);
  --cmd-warning: var(--pink3);
  --cmd-hl-border: var(--gold3);

  /* Important Note Box */
  --note-box: var(--blue1);

  /* Alert Box */
  --alert-box: var(--yellow2);

  /* List of Steps */
  --step-list: var(--white2);

  /* accordion Control */
  --accordion-header-bg-color: var(--widget-bg-color);
  --accordion-header-text-color: var(--tut-link-color);
  --accordion-header-toggled-bg-color: var(--tut-link-color);
  --accordion-header-toggled-text-color: var(--black2);
  --accordion-content-bg-color: var(--widget-bg-color);
  --accordion-content-link-color: var(--tut-link-color);

  /* Github Links Box */
  --github-links-button: var(--blue1);
  --github-links-button-hover: var(--blue4);
  --project-repo-bg-color: var(--black2);
  --project-repo-title-color: var(--pink2);
  --project-repo-message-color: var(--off-white1);
  --project-repo-link-color: var(--project-repo-title-color);

  /* input controls */
  --input-bg-color: var(--black2);
  --input-text-color: var(--off-white1);
  --input-button-bg-color: var(--dark-gray2);
  --input-button-text-color: var(--light-gray1);
  --input-button-bg-color-hover: var(--mid-gray1);
  --input-button-text-color-hover: var(--light-gray2);
  --input-border-color: var(--dark-gray2);
  --input-border-color-hover: var(--mid-gray1);
  --input-box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  --input-border-color-focus: var(--purple1);
  --input-box-shadow-focus: 0 0 1px 2px var(--purple1);
  --error-message-text-color: #e6c300;
}
