:root {
  /* Color Pallette */
  --black1: hsl(0, 0%, 13%);
  --black2: hsl(240, 4%, 14%);
  --black3: hsl(0, 0%, 16%);
  --dark-gray1: hsl(0, 0%, 20%);
  --dark-gray2: hsl(0, 0%, 27%);
  --mid-gray1: hsl(0, 0%, 40%);
  --mid-gray2:hsl(0, 0%, 50%);
  --light-gray1: hsl(0, 0%, 56%);
  --light-gray2: hsl(0, 0%, 70%);
  --off-white1: hsl(0, 0%, 77%);
  --off-white2: hsl(0, 0%, 85%);
  --white1: hsl(0, 0%, 89%);
  --white2: hsl(0, 0%, 95%);
  --teal1: hsl(171, 92%, 40%);
  --teal2: hsl(171, 92%, 53%);
  --blue1: hsl(206, 100%, 57%);
  --blue2: hsl(206, 100%, 72%);
  --blue3: hsl(206, 100%, 67%);
  --blue4: hsl(206, 100%, 47%);
  --green1: hsl(93, 95%, 45%);
  --green2: hsl(93, 95%, 60%);
  --green3: hsl(93, 95%, 70%);
  --green4: hsl(133, 96%, 42%);
  --purple1: hsl(261, 100%, 45%);
  --purple2: hsl(261, 100%, 65%);
  --purple3: hsl(261, 100%, 72%);
  --orange1: hsl(32, 98%, 43%);
  --orange2: hsl(32, 98%, 56%);
  --orange3: hsl(31, 100%, 63%);
  --orange4: hsl(31, 100%, 73%);
  --gold1: hsl(45, 100%, 54%);
  --gold2: hsl(45, 100%, 68%);
  --gold3: rgb(229, 185, 102);
  --pink1: hsl(338, 95%, 43%);
  --pink2: hsl(338, 95%, 56%);
  --pink3: hsl(342, 100%, 59%);
  --red1: hsl(2, 93%, 35%);
  --red2: hsl(357, 93%, 45%);
  --red3: hsl(9, 97%, 55%);
  --magenta1: hsl(301, 93%, 41%);
  --magenta2: hsl(301, 93%, 51%);
  --magenta3: hsl(301, 93%, 71%);
  --yellow1: hsla(59, 98%, 55%);

  /* Spacing */
  --no-margin: 0;
  --top-bot-margin-10: 10px 0;

  /* Padding */
  --bot-padding-10: 0 0 10px 0;

  /* Theme Colors */
  --site-bg-color: var(--mid-gray1);
  --header-bg-color: var(--black1);
  --page-bg-color: var(--dark-gray1);
  --body-text-color: var(--off-white2);
  --header-color: var(--white2);
  --header-anchor-link: var(--mid-gray1);
  --header-anchor-link-hover: var(--off-white1);
  --widget-bg-color: var(--black1);
  --link-color: var(--blue2);
  --header-link-color1: var(--light-gray2);
  --header-link-color2: var(--white2);
  --accent-color1: var(--blue2);
  --accent-color2: var(--mid-gray2);
  --code-text-color1: var(--teal2);
  --code-text-color2: var(--off-white1);
  --blockquote-text-color: var(--green3);
  --rfc-text-color: var(--blue1);
  --rfc-bold-text-color: var(--blue2);
  --blockquote-code-text-color: var(--body-text-color);
  --code-details-lineno: var(--white2);

  /* Top Nav Menu */
  --nav-link-color: var(--light-gray1);
  --nav-hover-link-color: var(--white2);
  --home-active-link-color: var(--white2);
  --blog-active-link-color: var(--white2);
  --tutorials-active-link-color: var(--white2);
  --about-active-link-color: var(--white2);

  /* Home Page */
  --home-title-color: var(--header-color);
  --home-lead-color: var(--light-gray2);
  --home-p-color: var(--body-text-color);
  --home-hr-color: var(--accent-color2);
  --home-h4-color: var( --header-color);
  --home-recent-post-date-color: var(--header-color);
  --home-card-bg-color: var(--widget-bg-color);

  /* /blog */
  --list-header-date-color: var(--header-color);

  /* Categories */
  --aws: var(--purple2);
  --devops: var(--magenta2);
  --dotnet: var(--blue4);
  --flask: var(--red2);
  --hugo: var(--teal2);
  --javascript: var(--gold1);
  --tutorial-series: var(--pink2);
  --linux: var(--yellow1);
  --python: var(--green1);
  --virtualization: var(--teal1);
  --svelte: var(--red3);

  /* Section: Blog Posts */
  --blog-link-color: var(--accent-color1);

  /* Section: Tutorial */
  --tut-link-color: var(--accent-color1);
  --tut-requirements :var(--body-text-color);

  /* Comments */
  --comments-bg: var(--widget-bg-color);
  --comments-border: #38383d;

  /* Syntax Highlighting */
  --chroma-border-color: var(--dark-gray2);
  --lang-name: var(---code-text-color2);
  --lang-name-bg: var(--widget-bg-color);
  --copy-code-button: var(--mid-gray2);
  --copy-code-button-hover: var(--light-gray2);
  --copy-code-button-text: var(--black2);
  --copy-code-button-text-hover: var(--black2);
  --hl-num-bg: linear-gradient(to right, var(--dark-gray2), var(--dark-gray2));
  --hl-line-bg: linear-gradient(to right, var(--dark-gray2),  var(--dark-gray1), var(--widget-bg-color), rgba(0,0,0,0));

  /* Command-line/Python REPL */
  --cmd-lineno: var(--light-gray2);
  --cmd-lineno-hl: var(--gold1);
  --cmd-prompt: var(--mid-gray2);
  --cmd-prompt-venv: var(--purple3);
  --cmd-input: var(--green3);
  --cmd-results: var(--off-white2);
  --cmd-comments: var(--blue3);
  --cmd-repl-prompt: var(--blue3);
  --cmd-repl-comment: var(--mid-gray2);
  --cmd-warning: var(--pink3);
  --cmd-hl-border: var(--gold3);

  /* Important Note Box */
  --note-box: var(--blue1);

  /* Alert Box */
  --alert-box: var(--gold1);

  /* List of Steps */
  --step-list: var(--white2);

  /* accordion Control */
  --accordion-header-bg-color: var(--widget-bg-color);
  --accordion-header-text-color: var(--tut-link-color);
  --accordion-header-toggled-bg-color: var(--tut-link-color);
  --accordion-header-toggled-text-color: var(--black2);
  --accordion-content-bg-color: var(--widget-bg-color);
  --accordion-content-link-color: var(--tut-link-color);

  /* Github Links Box */
  --project-repo-bg-color: var(--black2);
  --project-repo-title-color: var(--pink2);
  --project-repo-message-color: var(--off-white1);
  --project-repo-link-color: var(--project-repo-title-color);
}
