{{ $page := .Site.GetPage "/flask_api_tutorial/part-0" }}
<article class="article-preview list__item post default">
    <div class="article-preview-top-flex">
        {{ partial "thumbnail_image" $page }}
        <div class="post__title-wrapper">
            <h3 class="list__title post__title ">
                <a href="{{ $page.RelPermalink }}">{{ $page.Params.series_title }}</a>
            </h3>
            {{ partial "post_categories" $page }}
        </div>
    </div>
    <div class="article-preview-summary">
        <p>{{- if not .Date.IsZero }}<span class="date-published">{{.Date.Format ( .Site.Params.dateformat | default "Jan 02 2006")}} &mdash; </span>{{ end -}}{{ $page.Summary }}</p>
    </div>
</article>
