<!DOCTYPE html>
{{ if eq .Section "blog" }}
	{{ .Scratch.Set "section_class_list" "blog-list" }}
{{ else if eq .Section "post" }}
    {{ .Scratch.Set "section_class_list" "blog-post"}}
{{ else if or (eq .Section "series") (eq .Section "flask_api_tutorial") }}
	{{ .Scratch.Set "section_class_list" "tutorial" }}
{{ end }}

<html class="no-js {{ .Scratch.Get "section_class_list" }}" lang="{{ .Site.LanguageCode | default "en-us" }}">
{{ partial "head" . }}
<body class="body {{ .Scratch.Get "section_class_list" }}">
    <div class="container container--outer">
        {{ partial "menu" . }}
        <div class="wrapper flex">
            <div class="primary">
                {{ block "main" . }}
                    <div class="content main__content clearfix">
                        {{ .Content }}
                    </div>
                {{ end }}
            </div>
            {{ partial "search_results"}}
            {{ partial "sidebar" . }}
        </div>
        {{ partial "footer" . }}
    </div>
    {{ partial "js_bundle" . }}
</body>
</html>
