<!DOCTYPE html>
{{ if eq .Section "blog" }}
	{{ .Scratch.Set "body_classes" "body blog-list" }}
{{ else if or (eq .Section "series") (eq .Section "flask_api_tutorial") }}
	{{ .Scratch.Set "body_classes" "body tutorial" }}
{{ else }}
    {{ .Scratch.Set "body_classes" "body" }}
{{ end }}

<html class="no-js" lang="{{ .Site.LanguageCode | default "en-us" }}">
{{ partialCached "head" . }}
<body class="{{ .Scratch.Get "body_classes" }}">
    <div class="container container--outer">
        {{ partialCached "menu" . }}
        <div class="wrapper flex">
            <div class="primary">
                {{ block "main" . }}
                    <div class="content main__content clearfix">
                        {{ .Content }}
                    </div>
                {{ end }}
            </div>
            {{ partial "search_results"}}
            {{ partialCached "sidebar" . }}
        </div>
        {{ partialCached "footer" . }}
    </div>
    {{ partialCached "js_bundle" . }}
</body>
</html>
