{{ define "main" }}
    <main class="main" role="main">
        <article class="post">
            <header class="post__header">
                <div class="post-meta-date">
                    {{- if not .Date.IsZero }}
                    <div class="meta__item-datetime meta__item">
                        <time class="meta__text" datetime="{{ .Date.Format " 2006-01-02T15:04:05 " }}">{{.Date.Format ( .Site.Params.dateformat | default "January 02, 2006")}}</time> {{- if ne .Date .Lastmod }}
                        <time class="meta__text" datetime="{{ .Lastmod.Format " 2006-01-02T15:04:05 " }}"> ({{ T "meta_lastmod" }}: {{.Lastmod.Format ( .Site.Params.dateformat | default "January 02, 2006")}})</time> {{- end }}
                    </div>
                    {{ end -}}
                </div>
                <h1 class="post__title">{{ .Title }}</h1>
                {{- with .Params.lead }}
                    <p class="post__lead">{{ . }}</p>
                {{- end }}
                {{ with partial "post_meta.html" . -}}
                    <div class="post__meta meta">{{ . }}</div>
                {{- end }}
            </header>
            {{- if .Params.thumbnail }}
                <figure class="post__thumbnail">
                    <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
                </figure>
            {{- end }}
            {{- partial "post_toc.html" . -}}
            <div class="content post__content clearfix">{{ .Content }}</div>
            {{ partial "post_tags.html" . }}
        </article>
    </main>
    {{ partial "authorbox.html" . }}
    {{ partial "post_nav.html" . }}
    {{ partial "comments.html" . }}
{{ end }}
