{{ $page := .Site.GetPage "/flask_api_tutorial/part-0" }}
{{ $postImage := $page.Page.Resources.GetMatch (printf "*cover*") }}
<div id="api-tutorial-preview" class="article-preview">
    <div class="post__title-wrapper">
        <div class="article-preview-summary"><p><span class="date-published">New Tutorial Series! </span></p></div>
        <h3 class="list__title post__title "><a href="{{ $page.RelPermalink }}">{{ $page.Params.series_title }}</a></h3>
        {{ partial "post_categories" $page }}
    </div>
</div>
