{{ if .Param "toc" }}
<div class="accordian">
    <section class="toc-accordian-section accordian-item ac_hidden">
        <h2 class="toc-accordian-button accordian-button"><i class="fa fa-chevron-right pointer"></i><a class="toc-accordian-button" href="#">Table of Contents</a></h2>
        <div class="accordian-content">
            <div id="toc-header" class="post__toc toc accordian-content">
                <div class="toc__menu">{{ .TableOfContents }}</div>
            </div>
        </div>
    </section>
</div>
{{ end }}
