<div id="showcase">
    <div class="showcase-message">New Tutorial Series!</div>
    <a href="/series/flask-api-tutorial/overview">
        <h2>How To: Create a Flask API with JWT-Based Authentication</h2>
    </a>
    <p>Step-by-step instructions and in-depth explanations guide you through the process of creating a robust, production-quality REST API using <strong>Flask</strong>, <strong>Flask-RESTPlus</strong>, <strong>pyjwt</strong>, <strong>SQLAlchemy</strong>        and other packages.</p>
    <p>Code quality is a major focus, test coverage is created along with new functionality (using <strong>pytest</strong>). Other dev tools used: <strong>coverage</strong>, <strong>flake8</strong>, <strong>mypy</strong> and <strong>tox</strong>.</p>
    <div class="list__item meta">
        <div class="post-categories">
            <a class="post-category tutorial-series" href="/series">tutorial</a>
            <a class="post-category python" href="/categories/python" rel="category">python</a>
            <a class="post-category flask" href="/categories/flask">flask</a>
        </div>
    </div>
</div>
