<div id="showcase">
    <a href="/series/flask-api-tutorial/overview">
        <h2>How To: Create a Flask API with JWT-Based Authentication</h2>
    </a>
    <div class="article-badges"><span class="new-badge badge">New</span><span class="tutorial-series-badge badge">Tutorial Series</span></div>
    <p>Step-by-step instructions and in-depth explanations guide you through the process of creating a robust, production-quality REST API using <strong>Flask</strong>, <strong>Flask-RESTPlus</strong>, <strong>pyjwt</strong>, <strong>SQLAlchemy</strong>        and other packages.</p>
    <p>Code quality is a major focus, test coverage is created along with new functionality (using <strong>pytest</strong>). Other dev tools used: <strong>coverage</strong>, <strong>flake8</strong>, <strong>mypy</strong> and <strong>tox</strong>.</p>
</div>
