{{- if ne .Params.series_part "Overview" }}
<div class="accordian">
    <section id="series-accordian" class="series-accordian-section accordian-item {{ if .Param "toc" }}ac_hidden{{ end }}">
        <h2 class="series-accordian-button accordian-button"><i class="fa fa-chevron-right pointer"></i><a class="series-accordian-button" href="#series-acordian">Tutorial Sections</a></h2>
        <div class="accordian-content">
            <div id="api-tutorial">
                <ul>
                    {{- $currentPage := . }}
                    {{ range .Site.Taxonomies.series.flask_api_tutorial }}
                        {{- if ne $currentPage.RelPermalink .RelPermalink }}
                            <li><a href="{{ .RelPermalink }}">{{ .Params.Lead }}</a></li>
                        {{- else }}
                            <span class="current-section"><li>{{ .Params.Lead }}</li></span>
                        {{- end }}
                    {{- end }}
                </ul>
            </div>
        </div>
    </section id="github-accordian">
</div>
{{- end }}
