<div class="accordian">
    <section class="accordian-item {{ if .Param "toc" }}ac_hidden{{ end }}">
        <h2 class="accordian-button"><i class="fa fa-chevron-right pointer"></i><a href="#">Tutorial Sections</a></h2>
        <div class="accordian-content">
            <div id="api-tutorial">
                <ul>
                    {{ range .Site.Taxonomies.series.flask_api_tutorial }}
                    <li><a href="{{ .RelPermalink }}">{{ .Params.Lead }}</a></li>
                    {{- end }}
                </ul>
            </div>
        </div>
    </section>
</div>
