{{ if not .Site.IsServer }}
{{ $page := .Site.GetPage "/flask_api_tutorial/part-0" }}
{{- if ne $page.RelPermalink .RelPermalink }}
    <section class="comments">
        <script src="https://utteranc.es/client.js"
            repo="a-luna/aaronluna.dev"
            issue-term="pathname"
            label="post-comments"
            theme="photon-dark"
            crossorigin="anonymous"
            async>
        </script>
    </section>
{{- end }}
{{ else }}
<section class="comments">
    <div class="utterances" style="height: 266px;"></div>
</section>
{{ end }}
