<div class="accordian">
    <section id="github-accordian" class="github-accordian-section accordian-item ac_hidden">
        <h2 class="github-accordian-button accordian-button"><i class="fa fa-chevron-right pointer"></i>Github Links for {{$.Page.Params.series_part}}</h2>
        <div class="accordian-content">
            <div id="project-repo">
                <div class="message">The <a href="https://github.com/a-luna/flask-api-tutorial" target="_blank"></a>github repository for this project</a> contains <a href="https://github.com/a-luna/flask-api-tutorial/releases" target="_blank">a tagged release for each section</a> of the tutorial, please use the links below to view or download the code for <strong>{{ $.Page.Params.series_part }}</strong>.</div>
                <ul>
                    <li><a href="{{ $.Page.Params.url_git_rel_browse }}" target="_blank">View Code</a></li>
                    <li><a href="{{ $.Page.Params.url_git_rel_zip }}">Download .zip file</a></li>
                    <li><a href="{{ $.Page.Params.url_git_rel_tar }}">Download .tar.gz file</a></li>
                    {{- if $.Page.Param "url_git_rel_diff" }}<li><a href="{{ $.Page.Params.url_git_rel_diff }}" target="_blank">Diff {{$.Page.Params.series_part}} &lt;-&gt;&nbsp;{{- if $.Page.NextInSection }}{{$.Page.NextInSection.Params.series_part}}{{- else }}N/A{{- end }}</a></li>{{- end }}
                </ul>
            </div>
        </div>
    </section>
</div>
