<header class="header">
    <div id="top-bar" class="container">
        <div class="flex-left">
            <div class="logo">
                <a class="logo__link" href="{{.Site.BaseURL}}" title="{{ .Site.Title }}" rel="home">
                    <div class="logo__title">{{ .Site.Title }}</div>
                </a>
            </div>
            {{ partial "social.html" . }}
        </div>
        <div class="nav-top">
            <div class="nav-main">
                {{ partial "menu.html" . }}
            </div>
        </div>
    </div>
</header>