<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="aaronluna.dev" />
    <meta name="apple-mobile-web-app-title" content="aaronluna.dev" />
    <meta name="theme-color" content="#202020" />
    <meta name="msapplication-navbutton-color" content="#202020" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="msapplication-starturl" content="/blog?souce=pwa" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
    <script>
        (function(d, e) {
            d[e] = d[e].replace("no-js", "js");
        })(document.documentElement, "className");
    </script>
    <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
    {{ if .Site.Params.opengraph }}
        {{ template "_internal/opengraph.html" . }}
    {{ end }}
    {{ if .Site.Params.twitter_cards }}
        {{ partial "twitter-card" . }}
    {{ end }}
    <link rel="manifest" href="/manifest.json">
    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
    {{ end -}}
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    {{ partial "styles" . }}
    <link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">
    {{- if not .Site.IsServer }}
        {{ template "_internal/google_analytics_async.html" . }}
    {{- end }}
</head>
