{{- if .Site.IsServer -}}
    {{- $alljs := slice (resources.Get "js/vendor/lunr.min.js") (resources.Get "js/search.js") (resources.Get "js/headings.js") (resources.Get "js/copyCodeBlock.js") (resources.Get "js/tox.js") (resources.Get "js/main.js") -}}
    {{- range $alljs }}
        <script type="text/javascript" src="{{ . | relURL }}"></script>
    {{- end -}}
{{- else -}}
    {{- $search := resources.Get "js/search.js" | babel -}}
    {{- $headings := resources.Get "js/headings.js" | babel -}}
    {{- $copyCodeBlock := resources.Get "js/copyCodeBlock.js" | babel -}}
    {{- $tox := resources.Get "js/tox.js" | babel -}}
    {{- $main := resources.Get "js/main.js" | babel -}}
    {{- $alljs := slice (resources.Get "js/vendor/lunr.min.js") $search $headings $copyCodeBlock $tox $main -}}
    {{- $bundlejs := $alljs | resources.Concat "bundle.js" | minify | fingerprint }}
    <script type="text/javascript" src="{{ $bundlejs.RelPermalink }}" integrity="{{ $bundlejs.Data.Integrity }}"></script>
{{ end -}}
