{{ if .Site.IsServer }}
    {{ $lunr := resources.Get "js/vendor/lunr.min.js" }}
    {{ $search := resources.Get "js/search/search.js" }}
    {{ $mainjs := resources.Get "js/main.js" }}
    <script type="text/javascript" src="{{ $lunr.RelPermalink }}"></script>
    <script type="text/javascript" src="{{ $search.RelPermalink }}"></script>
    <script type="text/javascript" src="{{ $mainjs.RelPermalink }}"></script>
{{ else }}
    {{ $alljs := slice (resources.Get "js/vendor/lunr.min.js") (resources.Get "js/search/search.js") (resources.Get "js/main.js") }}
    {{ $bundlejs := $alljs | resources.Concat "bundle.js" | minify | fingerprint}}
    <script type="text/javascript" src="{{ $bundlejs.RelPermalink }}" integrity="{{ $bundlejs.Data.Integrity }}"></script>
{{ end }}
<script>
    if('serviceWorker' in navigator) {
        navigator.serviceWorker
            .register('/sw.js', { scope: '/' })
            .then(function(registration) {
                //console.log('Service Worker Registered');
            });
        navigator.serviceWorker
            .ready
            .then(function(registration) {
                //console.log('Service Worker Ready');
            });
    }
</script>
