{{- if .Site.Params.post_navigation }} {{- if ne .Params.series_part "Overview" }} {{- if or (.PrevInSection) (.NextInSection) }}
<div class="post-nav flex-container">
    {{- if .NextInSection }}
    <div class="post-nav-flex-item-prev">
        <div class="post-nav__item post-nav__item--prev inner-nav-flex-container">
            <div class="post-nav__chevron chevron-prev">
                <a class="post-nav__link post-nav__link--prev" href="{{.NextInSection.RelPermalink}}" rel="prev">
                    <i class="fa fa-lg fa-fw fa-arrow-left" aria-hidden="true"></i>
                </a>
            </div>
            <div class="post-nav__post-title title-prev">
                <a class="post-nav__link post-nav__link--prev" href="{{.NextInSection.RelPermalink}}" rel="prev">
                    {{.NextInSection.Params.Lead}}
                </a>
            </div>
        </div>
    </div>
    {{- end }} {{- if .PrevInSection }}
    <div class="post-nav-flex-item-next">
        <div class="post-nav__item post-nav__item--next inner-nav-flex-container">
            <div class="post-nav__post-title title-next">
                <a class="post-nav__link post-nav__link--next" href="{{.PrevInSection.RelPermalink}}" rel="next">
                    {{.PrevInSection.Params.Lead}}
                </a>
            </div>
            <div class="post-nav__chevron chevron-next">
                <a class="post-nav__link post-nav__link--next" href="{{.PrevInSection.RelPermalink}}" rel="next">
                    <i class="fa fa-lg fa-fw fa-arrow-right" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
    {{- end }}
</div>
{{- end }} {{- end }} {{- end }}
