{{ if .Param "image_ready" }}
    {{ $src := .Page.Resources.GetMatch (printf "*main*") }}
    {{ $tiny := $src.Resize "500x" }}
    {{ $small := $src.Resize "800x" }}
    {{ $medium := $src.Resize "1200x" }}
    {{ $large := $src.Resize "1500x" }}

    {{ if ge $src.Width "500" }}
        {{ .Scratch.Add "srcset" $tiny.RelPermalink }}
        {{ .Scratch.Add "srcset" " 500w" }}
    {{ end }}
    {{ if ge $src.Width "800" }}
        {{ .Scratch.Add "srcset" ", " }}
        {{ .Scratch.Add "srcset" $small.RelPermalink }}
        {{ .Scratch.Add "srcset" " 800w" }}
    {{ end }}
    {{ if ge $src.Width "1200" }}
        {{ .Scratch.Add "srcset" ", " }}
        {{ .Scratch.Add "srcset" $medium.RelPermalink }}
        {{ .Scratch.Add "srcset" " 1200w" }}
    {{ end }}
    {{ if ge $src.Width "1500" }}
        {{ .Scratch.Add "srcset" ", " }}
        {{ .Scratch.Add "srcset" $large.RelPermalink }}
        {{ .Scratch.Add "srcset" " 1500w" }}
    {{ end }}

    <figure>
        <img sizes="(min-width: 35em) 1200px, 100vw" srcset='{{ .Scratch.Get "srcset" }}' src="{{ $src.RelPermalink }}" alt="{{ .Page.Title }}">
        <figcaption><p>{{ $src.Params.credit }}</p></figcaption>
    </figure>


{{ end }}
