<div id="social" class="site-social">
    {{ if .Site.Menus.social }}
    <ul>
        {{ range sort .Site.Menus.social }}
        <li><a href="{{ .URL }}" target="_blank"><i class="fa fa-{{ .Name }}"></i></a></li>
        {{ end }}
    </ul>
    {{ end }}
    <div id="sourcerer-header">
        <div class="initial"><a class="no-border" href="https://sourcerer.io/a-luna" target="_blank"><img src="/img/sourcerer.jpg" alt="Sourcerer"></a></div>
        <div class="hover"><a class="no-border" href="https://sourcerer.io/a-luna" target="_blank"><img src="/img/sourcerer_hov.jpg" alt="Sourcerer"></a></div>
    </div>
    <div id="sourcerer-sidebar">
        <div class="initial"><a class="no-border" href="https://sourcerer.io/a-luna" target="_blank"><img src="/img/sourcerer2.jpg" alt="Sourcerer"></a></div>
        <div class="hover"><a class="no-border" href="https://sourcerer.io/a-luna" target="_blank"><img src="/img/sourcerer2_hov.jpg" alt="Sourcerer"></a></div>
    </div>
</div>
