<div id="social" class="site-social">
    {{ if .Site.Menus.social }}
    <ul>
        {{ range sort .Site.Menus.social }}
        <li><a href="{{ .URL }}" target="_blank"><i class="fa fa-{{ .Name }}"></i></a></li>
        {{ end }}
    </ul>
    {{ end }}
</div>
<div id="sourcerer">
    <div class="initial"><a href="https://sourcerer.io/a-luna" target="_blank"><img src="/img/sourcerer.jpg" alt="Sourcerer"></a></div>
    <div class="hover"><a href="https://sourcerer.io/a-luna" target="_blank"><img src="/img/sourcerer_hov.jpg" alt="Sourcerer"></a></div>
</div>
