{{ range .Site.Taxonomies.series.flask_api_tutorial }}
    {{- if not (eq .Params.series_part "Overview") }}
    <article class="list__item post">
        <header class="list__header">
            <div class="post__image">
                <a href="{{ .RelPermalink }}" rel="bookmark">{{ partial "responsive_image" . }}</a>
            </div>
            <h3 class="list__title post__title ">
                <a href="{{ .RelPermalink }}" rel="bookmark">{{ .Params.Lead }}</a>
            </h3>
        </header>
        <div class="content list__excerpt post__content clearfix">
            {{ .Summary }}
        </div>
        <div class="github-links-wrapper">
            <div class="github-links">
                <a href="{{ .Params.url_git_rel_browse }}" target="_blank" title="View code for {{ .Params.series_part }}"><i class="fa fa-github" aria-hidden="true"></i>Code</a>
                {{- if .Param "url_git_rel_diff" }}
                <a href="{{ .Params.url_git_rel_diff }}" target="_blank" title="Diff report for {{ .Params.series_part }}"><i class="fa fa-github" aria-hidden="true"></i>Diff</a>
                {{ else }}
                <div class="disabled" title="N/A"><i class="fa fa-github" aria-hidden="true"></i>Diff</div>
                {{- end }}
            </div>
            <div class="github-links">
                <a href="{{ .Params.url_git_rel_zip }}" target="_blank" title="Download .zip file"><i class="fa fa-cloud-download" aria-hidden="true"></i>.zip</a>
                <a href="{{ .Params.url_git_rel_tar }}" target="_blank" title="Download .tar.gz file"><i class="fa fa-cloud-download" aria-hidden="true"></i>.tar.gz</a>
            </div>
        </div>
    </article>
    {{- end }}
{{- end }}
