<div class="table-wrapper">
    <div class="responsive">
        <div id="all-github-links">
            <table class="tutorial">
                <thead>
                    <tr>
                        <th>Section</th>
                        <th>Code</th>
                        <th>.zip</th>
                        <th>.tar.gz</th>
                        <th>Diff</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Site.Taxonomies.series.flask_api_tutorial }}
                    {{- if not (eq .Params.series_part "Overview") }}
                    <tr>
                        <td><a href="{{ .RelPermalink }}">{{ .Params.series_part }}</a></td>
                        <td><a href="{{ .Params.url_git_rel_browse }}" target="_blank" title="View code for {{ .Params.series_part }}">{{ .Params.git_release_name }}</a></td>
                        <td><a href="{{ .Params.url_git_rel_zip }}" target="_blank" title="Download .zip file"><i class="fa fa-download"></i></a></td>
                        <td><a href="{{ .Params.url_git_rel_tar }}" target="_blank" title="Download .tar.gz file"><i class="fa fa-download"></i></a></td>
                        {{- if .Param "url_git_rel_diff" }}
                            <td><a href="{{ .Params.url_git_rel_diff }}" target="_blank" title="Diff report for {{ .Params.series_part }}"><i class="fa fa-exchange"></i></a></td>
                        {{ else }}
                            <td>N/A</td>
                        {{- end }}
                    </tr>
                    {{- end }}
                    {{- end }}
                </tbody>
            </table class="tutorial">
        </div>
    </div>
</div>
