{{ range .Site.Taxonomies.series.flask_api_tutorial }}
    {{- if not (eq .Params.series_part "Overview") }}
    <article class="list__item post">
        {{- if .Params.thumbnail }}
        <figure class="list__thumbnail">
            <a href="{{ .Permalink }}">
                <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}" />
            </a>
        </figure>
        {{- end }}
        <header class="list__header">
            <h3 class="list__title post__title ">
                <a href="{{ .RelPermalink }}" rel="bookmark">{{ .Params.Lead }}</a>
            </h3>
        </header>
        <div class="content list__excerpt post__content clearfix">
            {{ .Summary }}
        </div>
        <div class="github-links">
            Github links for {{ .Params.series_part }}:&nbsp;&nbsp;<a href="{{ .Params.url_git_rel_browse }}" target="_blank" title="View code for {{ .Params.series_part }}">Browse Code</a>, <a href="{{ .Params.url_git_rel_zip }}" target="_blank" title="Download .zip file">.zip file</a>, <a href="{{ .Params.url_git_rel_tar }}" target="_blank" title="Download .tar.gz file">.tar.gz file</a>
        </div>
    </article>
    {{- end }}
{{- end }}
