<div id="api-tutorial-sections">
    {{ range .Site.Taxonomies.series.flask_api_tutorial }}
    {{- if not (eq .Params.series_part "Overview") }}
        {{ $postImage := .Page.Resources.GetMatch (printf "*cover*") }}
        <article class="article-preview list__item post default">
            <div class="article-preview-top-flex">
                {{ if $postImage }}
                {{ $thumbnail := $postImage.Fill "400x256" }}
                <figure>
                    <a href="{{ .RelPermalink }}">
                        <img src="{{ $thumbnail.RelPermalink }}" alt="{{ .Params.Lead }}" />
                    </a>
                </figure>
                {{ end }}
                <div class="post__title-wrapper">
                    <h3 class="list__title post__title ">
                        <a href="{{ .RelPermalink }}">{{ .Params.Lead }}</a>
                    </h3>
                </div>
            </div>
            <div class="article-preview-summary"><p>{{ .Summary }}</p></div>
            <div class="github-links-wrapper">
                <div class="github-links">
                    <a href="{{ .Params.url_git_rel_browse }}" target="_blank" title="View code for {{ .Params.series_part }}"><i class="fa fa-github" aria-hidden="true"></i>Code</a>
                    {{- if .Param "url_git_rel_diff" }}
                    <a href="{{ .Params.url_git_rel_diff }}" target="_blank" title="Diff report for {{ .Params.series_part }}"><i class="fa fa-github" aria-hidden="true"></i>Diff</a>
                    {{ else }}
                    <div class="disabled" title="N/A"><i class="fa fa-github" aria-hidden="true"></i>Diff</div>
                    {{- end }}
                </div>
                <div class="github-links">
                    <a href="{{ .Params.url_git_rel_zip }}" target="_blank" title="Download .zip file"><i class="fa fa-cloud-download" aria-hidden="true"></i>.zip</a>
                    <a href="{{ .Params.url_git_rel_tar }}" target="_blank" title="Download .tar.gz file"><i class="fa fa-cloud-download" aria-hidden="true"></i>.tar.gz</a>
                </div>
            </div>
        </article>
    {{- end }}
{{- end }}
</div>
