{{ $name := (printf "%s" (.Get 0)) }}
{{ $vid := .Page.Resources.GetMatch (printf "*%s*" (.Get 0)) }}
{{ if $vid }}
<div class="vid-wrapper">
    <figure>
        <video id="vid-{{ $name }}" autoplay playsinline loop muted controls>
            <source src="{{ $vid.RelPermalink }}" type="video/mp4">
            Sorry, your browser doesn't support embedded videos, but don't worry, you can <a href="{{ $vid.RelPermalink }}">download it</a> and watch it with your favorite video player!
        </video>
        <figcaption><p>{{ $vid.Title }}</p></figcaption>
    </figure>
</div>
{{ end }}
