{{ define "main" }}
<main class="main tutorial" role="main">
    <article class="post">
        <header class="post__header">
            <h1 class="post__title">{{- if ne .Params.series_part "Overview" }}{{ .Params.lead }}{{- else }}{{ .Params.series_title }}{{- end }}</h1>
            <div class="post__meta meta">{{ partial "post_meta" . }}</div>
            <div class="post__image">{{ partial "responsive_image" . }}</div>
        {{- if ne .Params.series_part "Overview" }}
            {{ partial "post_nav_part_num" . }}
            <div class="accordion-wrapper">
                {{ partial "api_tutorial_series" . }}
                {{ partial "api_tutorial_toc" . }}
                {{ partial "github_links" . }}
            </div>
        {{- end }}
        </header>
        <div class="content post__content clearfix">
            {{ .Content }}
        </div>
    </article>
</main>
{{ partial "post_nav_lead" . }}
{{ partial "comments" . }}
{{ end }}
