{{ define "main" }}
<main class="main tutorial" role="main">
    <article class="post">
        <header class="post__header">
            <div class="article-badges"><span class="new-badge badge">New</span><span class="tutorial-series-badge badge">Tutorial Series</span></div>
            <h1 class="post__title">{{ .Params.series_title }}</h1>
            <p class="post__lead">{{ .Params.lead }}</p>
            {{ partial "post_nav_part_num.html" . }} {{ partial "api_tutorial_series.html" . }} {{ partial "api_tutorial_toc.html" . }}
        </header>
        {{- if .Params.thumbnail }}
        <figure class="post__thumbnail">
            <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
        </figure>
        {{- end }}
        <div class="content post__content clearfix">
            {{ .Content }}
        </div>
    </article>
</main>
{{ partial "post_nav_lead.html" . }} {{ partial "comments.html" . }} {{ end }}