{{ define "main" }}
<main class="main tutorial" role="main">
    <article class="post">
        <header class="post__header">
            <h1 class="post__title">{{ .Params.series_title }}</h1>
            {{ partial "api_tutorial_accordian.html" . }}
        </header>
        {{- if .Params.thumbnail }}
        <figure class="post__thumbnail">
            <img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
        </figure>
        {{- end }}
        <div class="content post__content clearfix">
            {{ .Content }}
        </div>
    </article>
</main>
{{ partial "comments.html" . }}{{ partial "post_nav_lead.html" . }} {{ partial "social.html" . }} {{ end }}