<article class="list__item post flask_api_tutorial">
    {{ $postImage := .Page.Resources.GetMatch (printf "*cover*") }}
    {{ if $postImage }}
        {{ $thumbnail := $postImage.Fill "200x100" }}
        <figure class="list__thumbnail">
            <a href="{{ .RelPermalink }}">
                <img src="{{ $thumbnail.RelPermalink }}" alt="{{ .Title }}" />
            </a>
        </figure>
    {{ end }}
    <header class="list__header">
        <h3 class="list__title post__title ">
            <a href="{{ .RelPermalink }}" rel="bookmark">{{ .Params.lead }}</a>
        </h3>
    </header>
    <div class="content list__excerpt post__content clearfix">{{ .Summary }}</div>
</article>
